.overflow-row {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .asset-drawer-action-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.mobile {
      width: 320px;
    }

    .asset-drawer-action-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      width: 90px;

      color: var(--ion-color-neutral-variant-30);

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.5px;
      }

      ion-icon {
        padding: 4px 20px;
        font-size: 20px;
        border-radius: 28px;
      }

      &:hover {
        background-color: var(--ion-color-light-tint);
        cursor: pointer;
      }
    }
  }
}
