<ng-template #buttonsTemplate>
  <div class="overflow-row">
    <div class="asset-drawer-action-button-row" [class.mobile]="isMobile">
      <ion-tab-button *ngFor="let button of buttons" class="asset-drawer-action-button" (click)="onTabButtonClicked(button)" [disabled]="!asset || (button.disabledFunction ? button.disabledFunction() : false)">
        <ion-icon [name]="button.icon"></ion-icon>
        <span>{{ button.label }}</span>
      </ion-tab-button>
    </div>
  </div>
</ng-template>

<ng-template #assetTemplate>
  <app-skeleton-loading *ngIf="!asset" [rows]="8"></app-skeleton-loading>
  <ion-content *ngIf="userReferences">
    <ng-container *ngFor="let reference of userReferences">
      <ng-container *ngIf="asset && reference.displayType === ReferenceDisplayType.SYNTHETIC">
          <ion-item lines="none" class="ion-no-margin">
            <ion-label class="label">
              <h3>{{ reference.alias }}</h3>
              <p>{{ getAssetValue(asset[reference.referenceKey]) }}</p>
            </ion-label>
          </ion-item>
      </ng-container>
    </ng-container>
  </ion-content>
</ng-template>

<ng-template #footerTemplate>
  <ion-item lines="none">
      <ion-button fill="clear" slot="end" (click)="onNavigateToDetails()" [disabled]="!userHasPermissionViewAssetDetailled">Détails</ion-button>
  </ion-item>
</ng-template>

<app-synthesis [drawerTitle]="assetLabel" [sourceLayer]="asset?.layer" [hasFile]="true"
  [buttonTemplate]="buttonsTemplate" [tabButtons]="buttons" [contentTemplate]="assetTemplate" [sourceLayer]="'assets'"
  [footerTemplate]="footerTemplate" (onDetails)="onNavigateToDetails()">
</app-synthesis>
