.report-asset {
  .action-buttons {
    border: none;
    height: 100px;

    .close-report-button {
      color: var(--ion-color-success);

      &:hover {
        color: var(--ion-color-success)!important;
      }
    }
  }

  .asset-list {
    margin-top: 10px;
    height: 60vh;
    overflow-y: auto;
  }
}
