<!-- -------- MAIN FORM -------- -->
<form [formGroup]="form">
  <ng-container *ngIf="sections.length > 0">
    <ng-container *ngFor="let node of sections">
      <ng-container [ngTemplateOutlet]="construct" [ngTemplateOutletContext]="{ node }"></ng-container>
    </ng-container>
  </ng-container>
</form>

<!-- -------- NODE CONSTRUCTION -------- -->
<ng-template #construct let-node="node">
  <ng-container [ngSwitch]="node.definition.type">
    <ng-container *ngSwitchCase="'section'">
      <ng-container [ngTemplateOutlet]="section" [ngTemplateOutletContext]="{ node }"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'property'">
      <ng-container [ngTemplateOutlet]="property"
        [ngTemplateOutletContext]="{ definition: node.definition }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<!-- -------- SECTION TEMPLATE -------- -->
<ng-template #childTemplate let-children="children">
  <ng-container *ngFor="let child of children">
    <ng-container [ngTemplateOutlet]="construct" [ngTemplateOutletContext]="{ node: child }"></ng-container>
  </ng-container>
</ng-template>

<ng-template #section let-node="node">
  <ng-container [ngSwitch]="node.definition.component">
    <!-- ACCORDION -->
    <ng-container *ngSwitchCase="'accordion'">
      <app-form-accordion [section]="node">
        <ng-container *ngTemplateOutlet="childTemplate; context: { children: node.children }"></ng-container>
      </app-form-accordion>
    </ng-container>
    <!-- ITEM GROUP -->
    <ng-container *ngSwitchCase="'list'">
      <app-form-list [section]="node">
        <ng-container *ngTemplateOutlet="childTemplate; context: { children: node.children }"></ng-container>
      </app-form-list>
    </ng-container>
    <!-- STEPPER -->
    <ng-container *ngSwitchCase="'stepper'">
      <ng-container *ngTemplateOutlet="stepperTemplate; context: { node: node }"></ng-container>
    </ng-container>
    <!-- FORM -->
    <ng-container *ngSwitchCase="'form'">
      <ng-container *ngTemplateOutlet="childTemplate; context: { children: node.children }"></ng-container>
    </ng-container>
    <!-- STEP -->
    <!-- <ng-container *ngSwitchCase="'step'">
      <app-form-step [section]="node">
        <ng-container *ngTemplateOutlet="childTemplate; context: { children: node.children }"></ng-container>
      </app-form-step>
    </ng-container> -->
  </ng-container>
</ng-template>

<!-- -------- PROPERTY TEMPLATE -------- -->
<ng-template #property let-definition="definition">
  <ng-container [ngSwitch]="definition.component">
    <ng-container *ngSwitchCase="'label'">
      <app-form-label [definition]="definition" [control]="form.controls[definition.key]"></app-form-label>
    </ng-container>
    <ng-container *ngSwitchCase="'input'">
      <app-form-input [definition]="definition" [control]="form.controls[definition.key]" [edit]="editMode"></app-form-input>
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
      <app-form-select [definition]="definition" [control]="form.controls[definition.key]"></app-form-select>
    </ng-container>
    <ng-container *ngSwitchCase="'textarea'">
      <app-form-textaera [definition]="definition" [control]="form.controls[definition.key]"
        [editMode]="editMode"></app-form-textaera>
    </ng-container>
    <ng-container *ngSwitchCase="'datepicker'">
      <app-form-datepicker></app-form-datepicker>
    </ng-container>
    <ng-container *ngSwitchCase="'attachment'">
      <app-form-attachment [definition]="definition" [control]="form.controls[definition.key]"></app-form-attachment>
    </ng-container>
    <ng-container *ngSwitchCase="'slider'">
      <app-form-slider [definition]="definition" [control]="form.controls[definition.key]" [edit]="editMode"></app-form-slider>
    </ng-container>
  </ng-container>
</ng-template>

<!-- EXCEPTION -->
<ng-template #stepperTemplate let-node="node">
  <mat-stepper linear #stepper>
    <mat-step *ngFor="let child of node.children" [label]="child.definition.label">
      <app-form-step [section]="child" [stepper]="stepper" [control]="form.controls[child.definition.key]">
        <ng-container *ngTemplateOutlet="childTemplate; context: { children: child.children }"></ng-container>
      </app-form-step>
    </mat-step>
  </mat-stepper>
</ng-template>