<div *ngIf="equipment" class="equipment-drawer">
  <!-- Header -->
  <ion-item lines="none" [class.mobile-header]="isMobile()">
    <ion-icon *ngIf="previousRoute !== drawerRouteEnum.HOME" name="arrow-back" (click)="onDrawerBack()"></ion-icon>
    <ion-label class="header-label">{{ equipment.id }}</ion-label>
    <ion-icon size="medium" slot="end" name="close-outline" (click)="onDrawerClose()"></ion-icon>
  </ion-item>

  <div class="equipment-drawer-content">
    <!-- Fast Info -->
    <!-- TODO: It is crucial to specify the needs to know exactly what will be included in these fields. -->
    <div class="equipment-drawer-fast-info" *ngIf="!isMobile()">
      <div class="equipment-drawer-fast-info-text">
        Statut de l'ordre d'intervention : {{ equipment.statut }}
      </div>
      <div class="equipment-drawer-fast-info-text">
        <ion-icon name="timer-outline"></ion-icon>
        Compteur :
      </div>
    </div>

    <!-- Action buttons -->
    <div class="overflow-row">
      <div class="equipment-drawer-action-button-row" [class]="isMobile() ? 'mobile' : ''">
        <div *ngFor="let button of actionButtons" class="equipment-drawer-action-button">
          <ion-icon [name]="button.icon" (click)="button.onClick()"></ion-icon>
          <span>{{ button.label }}</span>
        </div>
      </div>
    </div>

    <!-- Sections -->
    <div class="equipment-drawer-section-column">
      <div *ngFor="let section of sections" class="equipment-drawer-section">
        <div class="equipment-drawer-section-header">
          {{ section.label }}
        </div>
        <div *ngFor="let element of section.elements" class="equipment-drawer-section-content">
          <ng-container *ngIf="equipment[element.key]">
            <div class="equipment-drawer-section-content-title">{{ element.label }}</div>
            <span>{{ equipment[element.key] }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="equipment-drawer-footer">
    <ion-button class="action-button" (click)="null">
      Détailler
    </ion-button>
  </div>
</div>
