<div class="bottom-attachment" (mouseenter)="setOpen(true)" (mouseleave)="setOpen(false)">
  <ion-item color="none" [lines]="isOpen ? '' : 'none'">
    <ion-label>Pièces jointes</ion-label>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="download-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="isOpen = !isOpen">
      <ion-icon slot="icon-only" [name]="isOpen ? 'chevron-down-outline' : 'chevron-up-outline'"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="swiper" *ngIf="isOpen">
    <swiper-container *ngIf="swiperModules" [modules]="swiperModules" [navigation]="navigation" [pagination]="pagination" [slidesPerView]="slidesPerView" [loop]="loop">
      <swiper-slide *ngFor="let img of attributes.value">
        <ion-item lines="none" color="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" [src]="'./assets/img/' + img.filename" />
          </ion-thumbnail>
          <ion-label>
            <ion-label>
              <h4>{{ img.filename }}</h4>
              <p>Taille du fichier : <br />{{ img.size }}</p>
            </ion-label>
          </ion-label>
          <ion-button fill="clear" slot="end">
            <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </swiper-slide>
    </swiper-container>
  </div>
</div>