<ion-app>
  <ion-menu contentId="main-content" class="main-content-side-menu" type="overlay" swipe-gesture="false">
    <ion-content>
      <div class="main-content-side-menu-header" id="main-content-side-menu-header">
        <ion-label class="main-content-side-menu-header-title">Menu</ion-label>
        <ion-menu-toggle>
          <ion-fab class="main-content-side-menu-header-close-button">
            <ion-fab-button color="light">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-menu-toggle>
      </div>
      <ion-list id="inbox-list" class="main-content-side-list-menu">
        <ng-container *ngFor="let p of appPages; let i = index">
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="p.displayed" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="main-content-side-list-menu-link-active">
              <ion-icon [ios]="p.icon" [md]="p.icon" class="main-content-side-list-menu-icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>
      </ion-list>

      <p class="main-content-version-number ">Version {{ version }}</p>
    </ion-content>
  </ion-menu>
  <div class="main-container" [class.main-mobile-container]="isMobile" main>
    <router-outlet id="main-content"></router-outlet>
  </div>
</ion-app>
