$height-actions-layers-mobile: 170px;
$height-layer-with-toolbar: $height-actions-layers-mobile + 56px;

.action-layer-mobile-closed {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    height: auto;
    align-items: end;

    ion-fab-button {
        --border-radius: 16px;
    }
}

.action-layer-mobile-open {
    position: absolute;
    z-index: 0;
    background: var(--background);
    width: 100%;
    height: $height-actions-layers-mobile;
    margin-top: -$height-layer-with-toolbar;
    border-radius: 0px 0px 16px 16px;
    border-bottom: 2px solid #80808085;

    ion-searchbar {
        --box-shadow: none;
        border-bottom: solid 1px var(--ion-color-neutral-variant-50);
    }
}

.scrolling-wrapper {
    padding: 16px;

    ion-button {
        flex: 0 0 auto;
    }
}

.action-layer-mobile-out {
    position: absolute;
    top: $height-actions-layers-mobile;
    height: calc(100% - $height-actions-layers-mobile);
}

.action-layer-mobile-open-animation-in {
    -moz-animation: slideIn 0.5s ease 0.1s forwards;
    -webkit-animation: slideIn 0.5s ease 0.1s forwards;
    -o-animation: slideIn 0.5s ease 0.1s forwards;
    -ms-animation: slideIn 0.5s ease 0.1s forwards;
    animation: slideIn 0.5s ease 0.1s forwards;
}

.action-layer-mobile-open-animation-out {
    margin-top: 0px;
    -moz-animation: slideOut 0.5s ease 0.1s forwards;
    -webkit-animation: slideOut 0.5s ease 0.1s forwards;
    -o-animation: slideOut 0.5s ease 0.1s forwards;
    -ms-animation: slideOut 0.5s ease 0.1s forwards;
    animation: slideOut 0.5s ease 0.1s forwards;
}

.actions-layer-content-button-action-close {
    float: right;
    margin-right: 15px;
}

@keyframes slideIn {
    from {
        margin-top: -$height-layer-with-toolbar;;
    }

    to {
        margin-top: 0;
    }
}

@-moz-keyframes slideIn {
    from {
        margin-top: -$height-layer-with-toolbar;;
    }

    to {
        margin-top: 0;
    }
}

@-webkit-keyframes slideIn {
    from {
        margin-top: -$height-layer-with-toolbar;;
    }

    to {
        margin-top: 0;
    }
}

@-ms-keyframes slideIn {
    from {
        margin-top: -$height-layer-with-toolbar;;
    }

    to {
        margin-top: 0;
    }
}

@keyframes slideOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -$height-layer-with-toolbar;;
    }
}

@-moz-keyframes slideOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -$height-layer-with-toolbar;;
    }
}

@-webkit-keyframes slideOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -$height-layer-with-toolbar;;
    }
}

@-ms-keyframes slideOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -$height-layer-with-toolbar;;
    }
}

@keyframes slideOut {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -$height-layer-with-toolbar;;
    }
}