<div *ngIf="!isOpen && currentRoute === drawerRouteEnum.HOME" slot="end" class="action-layer-mobile-closed"><ion-fab>
    <ion-fab-button (click)="openActionLayer()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div *ngIf="isOpen" class="action-layer-mobile-open" [class.action-layer-mobile-open-animation-in]="isOpen">
  <ion-searchbar class="ion-no-margin ion-no-padding"></ion-searchbar>
  <div class="scrolling-wrapper">
    <ion-button class="actions-layer-content-button-action" (click)="onAction(drawerRouteEnum.PATRIMONY)" [ngClass]="currentRoute === drawerRouteEnum.PATRIMONY ? 'actions-layer-content-button-action-active':''">Patrimoine</ion-button>
    <ion-button class="actions-layer-content-button-action" (click)="onAction(drawerRouteEnum.INTERVENTION)" [ngClass]="currentRoute === drawerRouteEnum.INTERVENTION ? 'actions-layer-content-button-action-active':''">Intervention</ion-button>
    <ion-button class="actions-layer-content-button-action" (click)="onAction(drawerRouteEnum.PERIMETER)" [ngClass]="currentRoute === drawerRouteEnum.PERIMETER ? 'actions-layer-content-button-action-active':''">Périmètre</ion-button>
  </div>
  <ion-button class="actions-layer-content-button-action-close" fill="outline" (click)="closeActionLayer()">
    <ion-icon slot="icon-only" name="close-circle"></ion-icon>
  </ion-button>
</div>
