ion-fab {
  position: relative;
}

ion-searchbar.home-search {
  --border-radius: 80px;
}

.ion-fab {
  --box-shadow: none
}

.ion-fab-search {
  margin-left: 15px;
}

ion-segment {
  --background: none;

  ion-segment-button{
    max-width: 150px;
    min-height: 44px;
    margin-top: 4px;
  }
}

