ion-fab {
  position: relative;
}

ion-searchbar.home-search {
  --border-radius: 80px;
}

.ion-fab {
  --box-shadow: none
}

.ion-fab-search {
  margin-left: 15px;
}

ion-segment {
  --background: none;

  ion-segment-button{
    --color: var(--ion-color-primary-variant-50)!important;
    --color-checked: var(--ion-color-primary-contrast) !important;
    --background: var(--ion-color-primary-contrast) !important;
    --background-checked: var(--ion-color-primary-variant-50)!important;
    --border-radius: 15px !important;
    max-width: 150px;
    min-height: 44px;
    margin-top: 4px;
  }
}

