<ion-grid>
  <ion-row class="toolbar-row" *ngIf="toolbar">
    <ion-label class="label">
      <h3>{{ toolbar.title }}</h3>
    </ion-label>

    <div class="toolbar-buttons">
      <ion-button *ngFor="let button of toolbar.buttons" [disabled]="button.disableFunction()" (click)="button.onClick()" fill="clear">
        <ion-icon slot="icon-only" [name]="button.name"></ion-icon>
      </ion-button>
    </div>

  </ion-row>
  <div class="table">
    <!-- Table header with column names -->
    <ion-row class="header" [ngClass]="{ 'bottom-border': rows.length === 0 }">
      <ng-container *ngFor="let column of columns; let columnIndex = index">

        <ion-col [size]="column.size" class="cell button-cell" [ngClass]="{ 'left-border': columnIndex !== 0 }">
          <ng-container [ngSwitch]="column.format.type">
            <!-- CHECKBOX -->
            <ng-container *ngSwitchCase="TypeColumn.CHECKBOX">
              <ion-checkbox [checked]="isAllRowsSelected()" (ionChange)="onSelectAll()" aria-label="selection"></ion-checkbox>
            </ng-container>

            <!-- ACTION -->
            <ng-container *ngSwitchCase="TypeColumn.ACTION">
              {{ column.label }}
            </ng-container>

            <!-- OTHER (TEXT, SELECT, ...) -->
            <ng-container *ngSwitchDefault>
              <div class="column-header" [class.sortable]="column.sortOptions?.noSort !== true">
                <!-- Label -->
                <div (click)="column.sortOptions?.noSort !== true && onSort(column.key)">{{ column.label }}</div>

                <!-- Sort -->
                <div (click)="column.sortOptions?.noSort !== true && onSort(column.key)" class="header-sort-arrow">
                  <!-- sort arrow and number -->
                  <ion-icon *ngIf="getSortDirection(column.key) === 'asc'" slot="icon-only" name="arrow-up">
                  </ion-icon>
                  <ion-icon *ngIf="getSortDirection(column.key) === 'desc'" slot="icon-only" name="arrow-down">
                  </ion-icon>
                  <div *ngIf="getSortNumber(column.key) !== 0" class="header-sort-arrow-number">
                    {{getSortNumber(column.key)}}
                  </div>

                  <!-- div when there is no sort to fill the space of the sort -->
                  <div *ngIf="getSortNumber(column.key) === 0" style="width: 19px">
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ion-col>

      </ng-container>
    </ion-row>
    <!-- Table rows with data values -->
    <div class="table-row">
      <ion-row *ngFor="let row of rows; let rowIndex = index">
        <ng-container *ngFor="let column of columns; let columnIndex = index">

          <ion-col *ngIf="column.format.type === TypeColumn.CHECKBOX" [size]="column.size" class="cell button-cell top-border"
            [ngClass]="{ 'left-border': columnIndex !== 0, 'bottom-border': rowIndex === (rows.length - 1) }">
            <ion-checkbox [checked]="isRowSelected(row)" (ionChange)="onRowSelect(row)" aria-label="selection"></ion-checkbox>
          </ion-col>

          <ion-col *ngIf="column.format.type === TypeColumn.ACTION" [size]="column.size" class="cell button-cell top-border"
            [ngClass]="{ 'left-border': columnIndex !== 0, 'bottom-border': rowIndex === (rows.length - 1) }">
            <ion-button (click)="column.onClick(row)" fill="clear">
              <ion-icon slot="icon-only" name="eye"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col *ngIf="column.format.type === TypeColumn.TEXT" [size]="column.size" class="cell text-cell top-border"
            [ngClass]="{ 'left-border': columnIndex !== 0, 'bottom-border': rowIndex === (rows.length - 1) }">
            {{ row.get(column.key).value }}
          </ion-col>

          <ion-col *ngIf="column.format.type === TypeColumn.SELECT" [size]="column.size" class="cell button-cell top-border"
            [ngClass]="{ 'left-border': columnIndex !== 0, 'bottom-border': rowIndex === (rows.length - 1) }">
            <app-search-select class="table-select" [key]="column.format.selectKey" [label]="column.label" [elements]="row.get(column.key).selectOptions"
              [control]="row.get(column.key)" [elementLabelFunction]="column.format.elementLabelFunction"
              [isMultiSelection]="column.format.isMultiSelection" [isUsedInTable]="true">
            </app-search-select>
          </ion-col>
        </ng-container>
      </ion-row>
    </div>
  </div>
</ion-grid>
