.filter-segment {
    border-bottom: solid 1px var(--ion-color-neutral-variant-80);

    .scrolling-wrapper-mobile {
        ion-segment-button {
            flex: 0 0 auto;
        }
    }
}

.filter-content {
    overflow-y: auto;
    display: block;
    height: calc(100% - 105px);
}
