.filter-segment {
    border-bottom: solid 1px var(--ion-color-neutral-variant-80);

    .scrolling-wrapper-mobile {
        ion-segment-button {
            flex: 0 0 auto;
        }
    }

    ion-segment-button {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1px;
        text-transform: capitalize;
        --color: var(--ion-color-neutral-variant-30);
    }
}

.filter-content {
    overflow-y: auto;
    display: block;
    height: calc(100% - 105px);
}