<ng-container *ngIf="form">
  <form [formGroup]="form" id="wko_form_creation">
    <ion-list>
      <app-wko-referential [key]="'ctr_id'" [repository]="'contract'" [repositoryKey]="'id'"
        [repositoryValue]="'ctr_slabel'" [label]="'Contrat *'" [paramMap]="params"
        [control]="form.controls['ctrId']"></app-wko-referential>

      <app-wko-referential [key]="'cty_id'" [repository]="'city'" [repositoryKey]="'id'"
        [repositoryValue]="'cty_slabel'" [label]="'Commune *'" [paramMap]="params"
        [control]="form.controls['ctyId']"></app-wko-referential>

      <app-wko-referential [key]="'wtr_id'" [repository]="'v_layer_wtr'" [repositoryKey]="'wtr_id'"
        [repositoryValue]="'wtr_llabel'" [label]="'Action *'" [paramMap]="params" [control]="form.controls['wtrId']"
        [filters]="['lyr_table_name']"></app-wko-referential>

      <ion-input labelPlacement="floating" fill="outline" label="Libelle" placeholder="Libelle" type="text" formControlName="wkoName"></ion-input>
      
      <ion-input labelPlacement="floating" fill="outline" label="Adresse" placeholder="Adresse" type="text" formControlName="wkoAddress"></ion-input>

      <ion-select class="select" aria-label="agents" labelPlacement="floating" fill="outline" label="Nombre d'agents *"
        placeholder="Agents" formControlName="wkoAgentNb">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="4">5</ion-select-option>
      </ion-select>

      <div class="wko-calendar">
        <ion-input aria-label="date" labelPlacement="floating" fill="outline" label="Date début *" placeholder="Début"
          formControlName="wkoPlanningStartDate"></ion-input>
        <ion-input aria-label="date" labelPlacement="floating" fill="outline" label="Date fin *" placeholder="Fin"
          formControlName="wkoPlanningEndDate"></ion-input>
        <ion-button shape="round" fill="clear" slot="end" color="primary" (click)="openCalendar()">
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-button>
      </div>

      <div class="radio-group">
        <ion-radio-group [allowEmptySelection]="true" formControlName="wkoEmergency">
          <ion-radio value="true">Urgent</ion-radio>
        </ion-radio-group>
        <ion-radio-group [allowEmptySelection]="true"  formControlName="wkoAppointment">
          <ion-radio value="true">Rendez-vous</ion-radio>
        </ion-radio-group>
      </div>

      <ion-input aria-label="comment" labelPlacement="floating" fill="outline" label="Commentaire"
        placeholder="Commentaire" formControlName="wkoCreationComment"></ion-input>
    </ion-list>
  </form>
</ng-container>