ion-item-group {
  border-bottom: 1px solid var(--ion-color-neutral-variant-80);
}

ion-item {
  ion-icon[slot=start] {
    margin-inline-end: 8px;
  }

  --min-height: 30px;
}

ion-chip {
  margin: 5px;
  border-radius: 8px;
  margin-bottom: 9px;

  &[ng-reflect-outline=true] {
    border-color: var(--ion-color-primary);
    --color: var(--ion-color-primary);

    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

.date-item {
  min-height: 40px;
}

.intervention-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--ion-color-neutral-variant-50);
}

.status-success {
  background-color: var(--ion-color-success);
  --color: var(--ion-color-success-contrast);
  ion-icon {
    color: var(--ion-color-success-contrast);
  }
}

.status-fail {
  background-color: var(--ion-color-medium);
  --color: var(--ion-color-medium-contrast);
  ion-icon {
    color: var(--ion-color-medium-contrast);
  }
}

.status-over {
  background-color: var(--ion-color-tertiary);
  --color: var(--ion-color-tertiary-contrast);
  ion-icon {
    color: var(--ion-color-tertiary-contrast);
  }
}

.status-planned {
  background-color: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
  ion-icon {
    color: var(--ion-color-secondary-contrast);
  }
}

.status-created {
  background-color: var(--ion-color-tertiary);
  --color: var(--ion-color-tertiary-contrast);
  ion-icon {
    color: var(--ion-color-tertiary-contrast);
  }
}