<ion-header [translucent]="true">
  <app-main-toolbar [title]="'Information'" [minimalist]="true"></app-main-toolbar>
</ion-header>

<ion-content>
  <ion-card class="error-card" color="danger">
    <ion-card-header>
      <ion-card-title>Erreur</ion-card-title>
      <ion-card-subtitle>Service d'authentification indisponible</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Le service d'authentification semble actuellement indisponible. 
      Veuillez contacter le service mybad@veolia.com.
    </ion-card-content>
    <ion-button color="light" style="float:right" (click)="retryAuthent()">Réessayer</ion-button>
  </ion-card>
</ion-content>