ion-item-group {
  border-bottom: 1px solid var(--ion-color-neutral-variant-80);

  ion-item {
    --min-height: 30px;
  }

  &:hover {
    background: var(--ion-color-secondary-variant-90) !important;
    cursor: pointer;
  }

  .status {
    text-transform: capitalize;
  }
}