#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder($SRC)};

import java.io.Serializable;

#foreach( $import in $java.imports($entity.keyAttributes) )
import $import;
#end

/**
 * Composite primary key for entity "${entity.name}" ( stored in table "${entity.databaseTable}" )
 *
 * @author Telosys
 *
 */
## @Embeddable
public class $jpaEntityIdClass implements Serializable {

    private static final long serialVersionUID = 1L;

    //--- ENTITY KEY ATTRIBUTES
#set($nbAttributes = 0)
#foreach( $link in $entity.links )
#if($link.hasAttributeInPrimaryKey())
    private ${link.formattedFieldType(1)} $link.fieldName;
#set($nbAttributes = $nbAttributes + 1)
#end
#end
    /**
     * Constructor
     */
    public $jpaEntityIdClass() {
        super();
    }

    public ${jpaEntityIdClass}(
#set($index = 0)
#foreach( $link in $entity.selectedLinks )
#if($link.hasAttributeInPrimaryKey())
#set($index = $index + 1)
        ${link.formattedFieldType(0)} ${link.formattedFieldName(0)}#if($index < $nbAttributes),#end

#end
#end
    ) {
        super();
#foreach( $link in $entity.selectedLinks )
#if($link.hasAttributeInPrimaryKey())
        this.${link.formattedFieldName(0)} = ${link.formattedFieldName(0)} ;
#end
#end
    }
    
    //--- GETTERS & SETTERS FOR KEY FIELDS
#foreach( $link in $entity.selectedLinks )
#if($link.hasAttributeInPrimaryKey())
    public ${link.formattedFieldType(0)} ${link.getter}() {
        return this.${link.formattedFieldName(0)};
    }

    public void ${link.setter}(${link.formattedFieldType(0)} ${link.fieldName}) {
        this.${link.formattedFieldName(0)} = ${link.fieldName};
    }

#end
#end
}
