## --------------------------------------------------
#if ( $entity.isJoinEntity() )
#cancel("No JPA class for join entity")
#end
## --------------------------------------------------
#checkId($entity)
#parse("include/init_var_entity.vm")
#parse("include/java_header.vm")
##
#set($valueToRewrite = ["default", "short"])
##---------------------------------------------------------------------------------------
##                 JPA CONFIGURATION
##---------------------------------------------------------------------------------------
## Define the default collection type to be used (default is "java.util.List" )
## #set($env.collectionType = "java.util.Set")
## #set($env.collectionType = "java.util.Collection")
## ---------------------------
## Define if "targetEntity" must be generated in @ManyToMany, @OneToMany, etc
## #set($jpa.genTargetEntity = true)
## ---------------------------
## Define default value (true or false) for "insertable" and "updatable" in "@JoinColumn"
## #set($jpa.joinColumnInsertable = true)
## #set($jpa.joinColumnUpdatable  = true)
## ---------------------------
## Set default FETCH-TYPE for each cardinality ( "LAZY" or "EAGER" )
## #set($jpa.manyToOneFetchType  = "LAZY" )
## #set($jpa.oneToOneFetchType   = "LAZY" )
## #set($jpa.oneToManyFetchType  = "EAGER" )
## #set($jpa.manyToManyFetchType = "EAGER" )
##---------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};
## IF ENTITY HAS A COMPOSITE PRIMARY KEY => GENERATE AN 'ID CLASS' FOR THIS PRIMARY KEY
#if ( $entity.hasCompositePrimaryKey() )
$generator.generate($target.entityName ,  "${jpaEntityIdClass}.java", $target.folder, "main-java/XxxJpaEntityId_java.vm" )
#end

## Imports required in all models
import java.io.Serializable;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
## Java imports
#foreach( $import in $java.imports($entity) )
#set( $b = $import.replace("javax", "jakarta") )
import $b;
#end
## Jpa imports
#foreach( $import in $jpa.imports($entity) )
#set( $b = $import.replace("javax", "jakarta") )
import $b;
#end
## Specific imports for links
#set($hasImportedCollectors = false)
#foreach( $link in $entity.links )
#if($link.fieldName.contains('createdBy'))
import com.fasterxml.jackson.annotation.JsonIgnore;
import org.hibernate.annotations.UpdateTimestamp;
import org.hibernate.annotations.CreationTimestamp;
#end
#if(($link.cardinality == "OneToMany" || $link.cardinality == "ManyToMany") && !$hasImportedCollectors)
import java.util.stream.Collectors;
import java.util.ArrayList;
#set($hasImportedCollectors = true)
#end
#end
## Specific imports for geom
#foreach( $attribute in $entity.nonKeyAttributes )
#if($attribute.name.contains('geom'))
import org.locationtech.jts.geom.Geometry;
#end
#end


/**
 * JPA entity class for "${entity.name}"
 *
 * @author VEOLIA
 *
 */
$jpa.entityAnnotations(0, $entity)
## IF ENTITY HAS A COMPOSITE PRIMARY KEY => DECLARE 'ID CLASS' FOR THIS PRIMARY KEY
#if ( $entity.hasCompositePrimaryKey() )  
@IdClass(${jpaEntityIdClass}.class)
#end
@JsonIgnoreProperties(ignoreUnknown = true)
public class ${entity.name} implements Serializable {

    private static final long serialVersionUID = 1L;

    //--- ENTITY PRIMARY KEY ---\\
#foreach( $attribute in $entity.keyAttributes )
#if($attribute.isFK())
    @Id
    @Column(name="$attribute.databaseName", nullable=false, insertable=false, updatable=false)
    private $attribute.formattedType(1) $attribute.name#if($attribute.hasInitialValue()) = ${attribute.initialValue}#end;
#else
$jpa.fieldAnnotations(4, $attribute).replace("AUTO", "IDENTITY")
    private $attribute.formattedType(1) $attribute.name#if($attribute.hasInitialValue()) = ${attribute.initialValue}#end;
#end

#end
    //--- ENTITY DATA FIELDS ---\\
#foreach( $attribute in $entity.nonKeyAttributes )
#if(!$attribute.isFK())
$jpa.fieldAnnotations(4, $attribute)
#set( $attrName=$attribute.name ) 
#if($valueToRewrite.contains($attribute.name)) 
	#set( $attrName=$attribute.name+'_' )
#end
#if($attribute.name.contains('geom'))
	@JsonProperty("$attribute.databaseName")
    private Geometry $attrName#if($attribute.hasInitialValue()) = ${attribute.initialValue}#end;
#elseif($attribute.name.contains('Ddel'))
    @JsonProperty("$attribute.databaseName")
    private Date deletedAt;

#else
#if($attribute.name.contains('Dmod'))
    @UpdateTimestamp
#elseif($attribute.name.contains('Dcre'))
    @CreationTimestamp
#end
    @JsonProperty("$attribute.databaseName")
    private $attribute.formattedType(1) $attrName#if($attribute.hasInitialValue()) = ${attribute.initialValue}#end;

#end
#end
#end

    //--- ENTITY LINKS ( RELATIONSHIP ) ---\\
#foreach( $link in $entity.links )
$jpa.linkAnnotations(4, $link)
#if($link.fieldName.contains('createdBy') ||  $link.fieldName.contains('modifiedBy')) 
	@JsonIgnore
#end
    private ${link.formattedFieldType(1)} $link.fieldName;

#end
    /**
     * Constructor
     */
    public ${entity.name}() {
		super();
    }
    
    //--- GETTERS & SETTERS FOR FIELDS ---\\
#foreach( $attribute in $entity.keyAttributes )
#if(!$attribute.isFK())
#set( $attrName=$attribute.name ) 
#if($valueToRewrite.contains($attribute.name)) 
	#set( $attrName=$attribute.name+'_' )
#end
    public $attribute.type ${attribute.getter}() {
        return this.$attrName;
    }

    public void ${attribute.setter}( $attribute.type $attrName ) {
        this.$attrName = $attrName ;
    }

#end
#end
#foreach( $attribute in $entity.nonKeyAttributes )
#if(!$attribute.isFK())
#set( $attrName=$attribute.name ) 
#if($valueToRewrite.contains($attribute.name)) 
	#set( $attrName=$attribute.name+'_' )
#end
#if($attribute.name.contains('geom'))
    public Geometry ${attribute.getter}() {
        return this.$attrName;
    }

	public void ${attribute.setter}( Geometry $attrName ) {
        this.$attrName = $attrName ;
    }

#elseif($attribute.name.contains('Ddel'))
    public Date getDeletedAt() {
        return deletedAt;
    }

    public void setDeletedAt(Date deletedAt) {
        this.deletedAt = deletedAt;
    }

    public void markAsDeleted(Users user) {
        this.deletedAt = new Date();
        this.modifiedBy = user;
    }

#else
    public $attribute.type ${attribute.getter}() {
        return this.$attrName;
    }

	public void ${attribute.setter}( $attribute.type $attrName ) {
        this.$attrName = $attrName ;
    }

#end
#end
#end
    //--- GETTERS AND SETTERS FOR LINKS ---\\
#foreach( $link in $entity.selectedLinks )
#set($hasDeletedAt = false)
#foreach($attribute in $link.targetEntity.attributes)
#if($attribute.name.contains('Ddel'))
#set($hasDeletedAt = true)
#end
#end
#if(($link.cardinality == "OneToMany" || $link.cardinality == "ManyToMany") && $hasDeletedAt)
    public ${link.formattedFieldType(0)} ${link.getter}() {
        if (this.${link.formattedFieldName(0)} != null) {
            return this.${link.formattedFieldName(0)}.stream()
                .filter(e -> e.getDeletedAt() == null)
                .collect(Collectors.toList());
        } else {
            return new ArrayList<>();
        }
    }

    public ${link.formattedFieldType(0)} ${link.getter}WithDeleted() {
        return this.${link.formattedFieldName(0)};
    }
#else
    public ${link.formattedFieldType(0)} ${link.getter}() {
        return this.${link.formattedFieldName(0)};
    }
#end

    public void ${link.setter}(${link.formattedFieldType(0)} ${link.fieldName}) {
        this.${link.formattedFieldName(0)} = ${link.fieldName};
    }

#end
}
