.report-edit-content {
  height: 100%;
  width: 100%;

  .report-edit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    ion-icon {
      --size: 15px;
      font-size: 20px;
    }
  }

  .report-edit-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(100% - 44px - 54px); // 100% - header - footer
    overflow-y: auto;

    .report-edit-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 8px 8px;
        padding: 8px;
        border: 1px dashed blue;
        
        .number {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 10px;
        }

        .line-question {
          display: flex;
          flex-direction: column;
          width: 100%;

          .line-top {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;
          }

          .line-bottom {
            display: flex;
            flex-direction: row;

            .line-left {
              display: flex;
              flex-direction: column;
              width: calc(50% - 20px / 2); // 50% - half the margin

              ion-select, ion-checkbox {
                &:not(:last-child) {
                  margin-bottom: 8px;
                }
              }
            }
    
            .line-right {
              display: flex;
              flex-direction: column;
              width: calc(50% - 20px / 2); // 50% - half the margin
              margin-left: 20px;
    
              .add-button-line {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
    
              .values-div {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: auto;
                border: 1px dashed black;
                padding: 0 4px;
    
                .value-line {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
      
                  .buttons {
                    display: flex;
                    flex-direction: row;
                  }
                }
              }
    
              ion-icon {
                --size: 12px;
                font-size: 16px;
              }
    
              .small-button {
                --padding-start: 5px;
                --padding-end: 5px;
                margin-inline: unset;
                margin-top: unset;
                margin-bottom: unset;
                height: unset;
              }
            }
          }
        }
      }
    }
  }

  .report-edit-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5px 30px;
  }
}
