<div class="patrimony-drawer">
  <ion-item lines="none">
    <ion-label class="header-label">Patrimoine</ion-label>
    <ion-icon size="small" slot="end" name="close-outline" (click)="onClose()"></ion-icon>
  </ion-item>

  <app-filter-content [filter]="filter" class="filter-content"/>

  <div class="patrimony-footer-actions" lines="none">
    <ion-button fill="clear" (click)="reset()" [disabled]="!isSelectedData()">Réinitialiser</ion-button>
    <ion-button fill="clear" *ngIf="!isFavoriteSegment() && isModifyFavorite()" [disabled]="!isSelectedDataOnSegment()">Modifier le favori</ion-button>
    <ion-button fill="clear" (click)="addFavorite()" *ngIf="!isFavoriteSegment()" [disabled]="!isSelectedDataOnSegment()"><ion-icon slot="start" name="add-outline"></ion-icon>Créer</ion-button>
  </div>
</div>
