<ion-input aria-label="def-input" labelPlacement="floating" fill="outline" [id]="'equipments-'+definition.key"
  [label]="definition.label" [placeholder]="'Liste des équipements'" [value]="equipments.join(',')" (click)="onOpenModal()"
  [readonly]="true"/>

<ion-modal #equipmentsModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{definition.label}}</ion-title>
        <ion-buttons class="form-property-referential-modal-close" slot="end">
          <ion-icon (click)="equipmentsModal.dismiss()" name="close" />
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!-- <ion-searchbar mode="ios" animated="true" placeholder="Recherche"
      (ionInput)="onHandleInput($event)"></ion-searchbar> -->
      <ion-searchbar mode="ios" animated="true" placeholder="Recherche"
      ></ion-searchbar>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let eq of equipments; trackBy: trackByFn">
          <ion-label>{{ eq }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>