.report-footer-actions {
  border-top: solid 1px var(--ion-color-neutral-variant-80);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 27px 0px;

  &.is-mobile {
    padding-top: 10px;
    padding-bottom: 0px;
    border-top: none;
  }

  .fab-return {
    margin-top: -56px;
    margin-left: 15px;

    &.is-mobile {
      margin-top: -75px;
      margin-left: 0px;
    }
  }

  .fab-terminate {
    margin-top: -56px;
    margin-left: calc(50% - 55px);
    width: 110px;

    ion-fab-button {
      margin: auto;
    }

    .fab-terminate-text {
      text-align: center;
    }
  }
}
