<ng-container *ngIf="editMode; else radioTemplate">
  <ion-item>
    <ion-label>
      <h3>{{ definition.label }} {{checkIfRuleExist('required') ? '*':''}}</h3>
      <p>{{ attributes.value }}</p>
    </ion-label>
  </ion-item>
</ng-container>

<div class="form-radio-edition">
<ng-template #radioTemplate>
  <ion-label>
    <h3>{{ definition.label }} : </h3>
  </ion-label>
  <ion-radio-group aria-label="def-radio" [id]="definition.key" [value]="attributes.value" [(ngModel)]="attributes.value" (ionChange)="control.setValue(attributes.value);control.touched=true">
    <ng-container *ngFor="let opt of attributes.options">
      <ion-radio aria-label="radio" [disabled]="!definition.editable" [value]="opt.key">{{ opt.value }}</ion-radio><br/>
    </ng-container>
  </ion-radio-group>
  <ng-container *ngIf="definition.rules">
    <ng-container *ngFor="let rule of definition.rules">
      <ng-container *ngIf="control.hasError(rule.key) && control.touched">
        <ion-label color="danger" lines="none">
          {{ rule.message }}
        </ion-label>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>