<ng-container *ngFor="let i of segments | keyvalue">
  <ng-container *ngIf="selectedSegment === i.key">
    <ng-container *ngIf="i.value.type === 'accordeon' || i.value.type === 'favorite'">
      <ion-accordion-group multiple="true">
        <app-patrimony-accordeon *ngFor="let acc of i.value.data" [accordeonData]="acc"
          [mode]="i.value.mode ? i.value.mode : 'md'" 
          [singleSelection]="!i.value.multiple"
          [selectedSegment]="selectedSegment"
          [saveableFavorite]="i.value.saveableFavorite"
          [type]="i.value.type"
          (onSingleSelection)="onSingleSelection($event)"
          (onSelection)="onSelection($event)">
        </app-patrimony-accordeon>
      </ion-accordion-group>
    </ng-container>
    <ng-container *ngIf="i.value.type === 'tree'">
      <app-patrimony-details-tree [treeData]="i.value.data"></app-patrimony-details-tree>
    </ng-container>
  </ng-container>
</ng-container>