.form-property-referential {
    margin-bottom: 15px;
}

.form-property-referential-modal {
    --border-radius: 5px;

    .form-property-referential-modal-radio {
        padding-left: 20px;
        padding-bottom: 15px;
    }

    .form-property-referential-modal-close {
        margin-right: 15px;
        cursor: pointer;
    }
}

.alert-radio-group {
    height: 50px;
    width: 100%;
}