<div class="form-property-referential">
  <ion-input aria-label="def-input" labelPlacement="floating" fill="outline" [id]="'referential-'+definition.key"
    [label]="definition.label" [placeholder]="attributes.placeholder" [value]="valueLabel" [readonly]="true" [disabled]="disabled" />

  <ng-container *ngIf="definition.rules">
    <ng-container *ngFor="let rule of definition.rules">
      <ng-container *ngIf="control.hasError(rule.key) && control.touched">
        <ion-label color="danger" lines="none">
          {{ rule.message }}
        </ion-label>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="!disabled">
<ion-modal class="form-property-referential-modal" [id]="'modal-'+definition.key" #modal [trigger]="'referential-'+definition.key">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{definition.label}}</ion-title>
        <ion-buttons class="form-property-referential-modal-close" slot="end">
          <ion-icon (click)="modal.dismiss()" name="close"/>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-searchbar mode="ios" animated="true" placeholder="Recherche" (ionInput)="onHandleInput($event)"></ion-searchbar>
    <ion-content>
      <ion-list>
        <ion-radio-group aria-label="def-radio" [value]="valueKey" (ionChange)="onRadioChange($event)">
          <ng-container *ngFor="let item of displayOptions; let index">
            <ion-radio aria-label="Option Label" class="form-property-referential-modal-radio" [value]="item[attributes.repositoryKey].toString()" labelPlacement="end" (click)="modal.dismiss()">{{ item[attributes.repositoryValue] }}</ion-radio>
            <br />
          </ng-container>
        </ion-radio-group>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ng-template>
</ion-modal>
</ng-container>