.search-multi-select-input {
  display: flex;
  flex-direction: column;
  height: 110px;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  background-color: var(--ion-color-component-background);

  ion-label {
    margin-bottom: 5px;
  }

  ion-input {
    min-height: 42px;
  }
}

.search-multi-select-modal {
  --border-radius: 5px;

  .search-multi-select-modal-close {
    margin-right: 15px;
    cursor: pointer;
  }

  .search-multi-select-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    ion-checkbox {
      margin-bottom: 5px;
    }
  }
}
