.search-select-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  min-width: 300px;

  ion-label {
    margin-bottom: 5px;
  }

  ion-input {
    min-height: 42px;
  }

  .select-invalid {
    --color: var(--ion-color-danger) !important;
    --border-color: var(--ion-color-danger);
  }
}

.search-select-modal {
  --border-radius: 5px;

  .search-select-modal-close {
    margin-right: 15px;
    cursor: pointer;
  }

  .search-select-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    ion-checkbox, ion-radio {
      margin-bottom: 5px;
    }

    ion-radio-group {
      display: flex;
      flex-direction: column;
    }
  }
}
