<div class="settings-template-content">
  <app-settings-header
      class="settings-header"
      title="Personnalisation des formulaires">
  </app-settings-header>

  <form form [formGroup]="form" class="settings-main-content">
    <app-search-select class="settings-select-content"
      key="ast_id"
      label="Type"
      [elements]="listAssetType"
      [control]="form.controls['astId']"
      [elementLabelFunction]="getAssetTypeLabel">
    </app-search-select>

    <app-generic-table class="settings-table-content"
      [toolbar]="toolbar"
      [columns]="columns"
      [rows]="listWtrReportRows"
      [listColumnSort]="listColumnSort">
    </app-generic-table>
  </form>
</div>
