<div class="settings-content-template">
  <app-settings-header
      class="settings-content-header"
      title="Personnalisation des formulaires">
  </app-settings-header>

  <form form [formGroup]="form" class="settings-content-main">
    <app-search-select class="settings-content-select"
      key="ast_id"
      label="Type"
      [elements]="listAssetType"
      [control]="form.controls['astId']"
      [elementLabelFunction]="getAssetTypeLabel">
    </app-search-select>

    <app-generic-table class="settings-content-table"
      [toolbar]="toolbar"
      [columns]="columns"
      [data]="listWtrReport">
    </app-generic-table>
  </form>
</div>
