.report-create {
  .header-label {
    font-weight: 300;
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0.1px;
    height: 48px;
    color: var(--ion-color-neutral-variant-30);
  }

  ion-icon {
    cursor: pointer;
  }

  .report-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .stepper {
      width: 100%;
      color: var(--ion-color-primary);

      ion-list {
        display: flex;
        justify-content: center;
        padding-top: 0;

        .stepper-header {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;

          .stepper-title {
            display: flex;
            gap: 10px;

            ion-badge {
              margin: 1px 0;
            }

            ion-button {
              margin: 0;
            }
          }

          .step-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2px;
            border-radius: 5px;
            width: 80px;
            height: 36px;
            cursor: pointer;
            background-color: white;
            color: var(--ion-primary-color);
            gap: 2px;

            &:disabled {
              opacity: 0.3;
              cursor: not-allowed;

              ion-icon {
                cursor: not-allowed;
              }
            }

            &:hover {
              background-color: var(--ion-color-primary-hover);
            }

            span {
              font-size: 10px;
            }
          }
        }
      }

      .separation-line {
        border-bottom: 1px solid var(--ion-color-neutral-variant-80);
        width: 100%;
      }
    }
  }
}
