<ion-toolbar *ngIf="!isMobile" color="primary" class="main-toolbar">
  <ion-buttons slot="start" *ngIf="!minimalist">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-img slot="start" class="main-toolbar-logo" src="assets/img/logo/logo-desktop.png"></ion-img>
  <span slot="start" class="main-toolbar-separator"></span>
  <ion-title class="main-toolbar-title">{{title}}</ion-title>
  <ion-buttons slot="secondary" *ngIf="!minimalist">
    <ion-button (click)="openPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="resetStorage()">
          <ion-icon slot="start" name="reload-outline"></ion-icon>
          Reinitialiser le cache
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="saveContext()">
          <ion-icon slot="start" name="cloud-upload-sharp"></ion-icon>
          Sauvegarder vos paramètres cartographiques
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="restoreContext()">
          <ion-icon slot="start" name="cloud-download-sharp"></ion-icon>
          Restaurer vos paramètres cartographiques
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
