$height-actions-layers-mobile: 600px;


.home-main-content {
    display: flex;
    width: 100%;
    height: 100%;

    .home-main-content-map {
        height: 100%;
        width: 100%;
        position: relative;

        app-map {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    .home-main-content-interactive {
        padding: 12px;
        height: 100%;
        margin-right: -$height-actions-layers-mobile;
        width: $height-actions-layers-mobile;
        flex: 0 0 $height-actions-layers-mobile;
        display: flex;
        flex-direction: column;

        .content-interactive-header {
            padding: 18px 16px;
            height: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .content-interactive-header span {
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: var(--ion-color-neutral-variant-30);
        }

        .content-interactive-header ion-icon {
            cursor: pointer;
        }

        app-patrimony, app-perimeter, app-intervention {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: calc(100% - 56px);
        }
    }

    .home-main-content-interactive-animation-in {
        -moz-animation: slideIn 0.5s ease 0.1s forwards;
        -webkit-animation: slideIn 0.5s ease 0.1s forwards;
        -o-animation: slideIn 0.5s ease 0.1s forwards;
        -ms-animation: slideIn 0.5s ease 0.1s forwards;
        animation: slideIn 0.5s ease 0.1s forwards;
    }

    .home-main-content-interactive-animation-out {
        margin-right: 0px;
        -moz-animation: slideOut 0.5s ease 0.1s forwards;
        -webkit-animation: slideOut 0.5s ease 0.1s forwards;
        -o-animation: slideOut 0.5s ease 0.1s forwards;
        -ms-animation: slideOut 0.5s ease 0.1s forwards;
        animation: slideOut 0.5s ease 0.1s forwards;
    }
}

.home-main-content-fab-map {
    .home-main-content-fab-map-selector {
        --background: var(--ion-color-primary-variant-90);
        --color: var(--ion-color-primary-variant-10);
        --border-radius: 12px;
    }

    .home-main-content-fab-map-selector-item {
        --border-radius: 12px;
        --box-shadow: 0px 4px 8px 3px rgb(0 0 0 / 40%), 0px 1px 3px rgb(0 0 0 / 40%);
    }
}


@keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@-moz-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@-webkit-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@-ms-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-moz-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-webkit-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-ms-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}