$height-actions-layers-mobile: 600px;


.home-main-content {
    display: flex;
    width: 100%;
    height: 100%;

    .home-main-content-map {
        height: 100%;
        width: 100%;
        position: relative;

        app-map {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    .home-main-content-interactive {
        height: 100%;
        margin-right: -$height-actions-layers-mobile;
        width: $height-actions-layers-mobile;
        flex: 0 0 $height-actions-layers-mobile;
    }

    .home-main-content-interactive-animation-in {
        -moz-animation: slideIn 0.5s ease 0.1s forwards;
        -webkit-animation: slideIn 0.5s ease 0.1s forwards;
        -o-animation: slideIn 0.5s ease 0.1s forwards;
        -ms-animation: slideIn 0.5s ease 0.1s forwards;
        animation: slideIn 0.5s ease 0.1s forwards;
    }

    .home-main-content-interactive-animation-out {
        margin-right: 0px;
        -moz-animation: slideOut 0.5s ease 0.1s forwards;
        -webkit-animation: slideOut 0.5s ease 0.1s forwards;
        -o-animation: slideOut 0.5s ease 0.1s forwards;
        -ms-animation: slideOut 0.5s ease 0.1s forwards;
        animation: slideOut 0.5s ease 0.1s forwards;
    }

    
}


@keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
} 

@-moz-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@-webkit-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@-ms-keyframes slideIn {
    from {
        margin-right: -$height-actions-layers-mobile;
    }

    to {
        margin-right: 0;
    }
}

@keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-moz-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-webkit-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@-ms-keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}

@keyframes slideOut {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -$height-actions-layers-mobile;
    }
}