<ion-accordion *ngIf="accordeon" [toggleIcon]="''">
  <ion-item slot="header" (click)="checkOpeningRule($event)">
    <ion-checkbox slot="start" [mode]="mode" [checked]='isChecked' [indeterminate]="isIndeterminate"
      (ionChange)="onCheckboxChange($event)" (click)="$event.stopPropagation()"></ion-checkbox>
    <ion-label>{{ accordeon.name }}</ion-label>
    <ion-icon slot="end" color="primary" [name]="icon"></ion-icon>
  </ion-item>
  <div *ngIf="mode === 'md'" class="ion-padding" slot="content">
    <div *ngFor="let child of accordeon.children" class="children"
      [class.children-selected]="selectedChildren.has(child)" (click)="onChildSelected(child)">
      <img [src]="child.imgSrc" width="70" height="70" />
      <span>{{ child.name }}</span>
      <div *ngIf="selectedChildren.has(child)" class="child-selected-arrow"><ion-icon size="large" name="checkmark"></ion-icon></div>
    </div>
  </div>
  <div *ngIf="mode === 'ios'" class="ion-action-padding" slot="content">
    <ion-item class="favorites-action" lines="none">
      <ion-label>
        <ion-button fill="clear" (click)="setDetailAction('RENAME')">Renommer</ion-button>
        <ion-button fill="clear" (click)="setDetailAction('COPY')"><ion-icon slot="start" name="add-outline"></ion-icon>Copier</ion-button>
        <ion-button fill="clear" (click)="setDetailAction('MODIFY')">Modifier</ion-button>
        <ion-button fill="clear" (click)="setDetailAction('DELETE')">Supprimer</ion-button>
      </ion-label>
    </ion-item>
  </div>
</ion-accordion>