<ion-content class="settings-flex">
  <form [formGroup]="form" class="settings-content-template">

    <div>
      <ion-label class="label">
        <h2>Personnalisation des styles de couche par défaut</h2>
      </ion-label>

      <div class="separation-line"></div>
    </div>

    <div class="settings-layer-styles">
      <app-search-select class="layer-select" key="lyrTableName" label="Couche à paramétrer" [elements]="layers"
        [control]="form.controls['lyrTableName']" [elementLabelFunction]="getLayerLabel">
      </app-search-select>

      <app-generic-table [toolbar]="toolbar" [columns]="columns" [data]="layerStyles" [selectedData]="selectedLayerStyles"></app-generic-table>
    </div>
  </form>
</ion-content>
