<div class="settings-template-content">
  <app-settings-header
      class="settings-header"
      title="Personnalisation des styles de couche par défaut">
  </app-settings-header>

  <form form [formGroup]="form" class="settings-main-content">
    <app-search-select class="settings-select-content"
      key="lyrTableName"
      label="Couche à paramétrer"
      [elements]="layers"
      [control]="form.controls['lyrTableName']"
      [elementLabelFunction]="getLayerLabel">
    </app-search-select>

    <app-generic-table *ngIf="currentLayerId" class="settings-table-content"
      [toolbar]="toolbar"
      [columns]="columns"
      [rows]="layerStylesRows"
      [selectedRows]="selectedLayerStylesRows">
    </app-generic-table>
  </form>
</div>
