<div class="settings-content-template">
  <app-settings-header
      class="settings-content-header"
      title="Personnalisation des styles de couche par défaut">
  </app-settings-header>

  <form form [formGroup]="form" class="settings-content-main">
    <app-search-select class="settings-content-select"
      key="lyrTableName"
      label="Couche à paramétrer"
      [elements]="layers"
      [control]="form.controls['lyrTableName']"
      [elementLabelFunction]="getLayerLabel">
    </app-search-select>

    <app-generic-table *ngIf="currentLayerId" class="settings-content-table"
      [toolbar]="toolbar"
      [columns]="columns"
      [data]="layerStyles"
      [selectedData]="selectedLayerStyles">
    </app-generic-table>
  </form>
</div>
