.settings-flex {
  height: 100%;
}

.settings-content-template {
  overflow-y: auto;
  height: 85%;

  .settings-layer-styles {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);

    ion-select {
      height: 56px;
    }

    .layer-select {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .layer-styles-tab {
      display: flex;
      flex-direction: column;
    }
  }
}
