<div class="report-edit-content">
  <app-settings-header
    [title]="'Formulaire pour ' + wtrReport.ast_code + ' - ' + wtrReport.ast_slabel + ' - ' + wtrReport.wtr_code + ' - ' + wtrReport.wtr_slabel"
    [isModalHeader]="true"
    (onModalClose)="close()"
  ></app-settings-header>

  <div class="report-edit-body">
    <div class="report-edit-actions-div">
      <ion-button fill="clear" class="medium-button" (click)="duplicateFromReport()" [disabled]="!userHasPermissionCreateNewFormField" matTooltip="Dupliquer un autre formulaire">
        <ion-icon slot="icon-only" name="copy"></ion-icon>
      </ion-button>

      <ion-button id="hover-test-trigger" fill="clear" class="medium-button" (click)="testReport()" [disabled]="!userHasPermissionCustomizeFormField" matTooltip="Test le formulaire">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
      </ion-button>
    </div>

    <form [formGroup]="form" class="report-edit-form">
      <ng-container formArrayName="lines">
        <ng-container *ngFor="let lineForm of lines.controls; let i = index">
          <div [formGroup]="lineForm" class="line">
            <div class="number">
              {{i+1}}

              <ion-button fill="clear" (click)="deleteLine(i)" [disabled]="!userHasPermissionCreateNewFormField">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>

              <div class="up-down-div">
                <ion-button fill="clear" class="small-button" (click)="lineDown(i)" [disabled]="i === 0 || !userHasPermissionCustomizeFormField">
                  <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
                </ion-button>
                <ion-button fill="clear" class="small-button" (click)="lineUp(i)" [disabled]="i === lines.length - 1 || !userHasPermissionCustomizeFormField">
                  <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                </ion-button>
              </div>
            </div>

            <div class="line-question">
              <div class="line-top">
                <ion-input aria-label="label" labelPlacement="floating" fill="outline" label="Libellé *" formControlName="label" errorText="Le libellé est obligatoire." />
              </div>

              <div class="line-bottom">
                <div class="line-left">
                  <ion-select aria-label="component-type" label="Type de champ *" label-placement="floating" fill="outline" formControlName="component" interface="popover">
                    <ion-select-option *ngFor="let componentType of listComponentType" [value]="componentType.value">{{componentType.label}}</ion-select-option>
                  </ion-select>

                  <ion-checkbox aria-label="required" formControlName="isRequired" labelPlacement="end" justify="start">
                    Champ obligatoire
                  </ion-checkbox>

                  <ng-container *ngIf="getListAvailableQuestion(i).length > 0">
                    <ion-select aria-label="parent" label="Conditionné par la question" label-placement="floating" fill="outline" formControlName="questionCondition" interface="popover">
                      <ion-select-option *ngFor="let question of getListAvailableQuestion(i)" [value]="question.value">{{question.label}}</ion-select-option>
                    </ion-select>

                    <ion-select aria-label="parent-values" label="Conditionné par les valeurs de la question" label-placement="floating" fill="outline" formControlName="listQuestionConditionValues" [multiple]="true" interface="popover">
                      <ion-select-option *ngFor="let questionValue of getListAvailableQuestionValues(i)" [value]="questionValue.value">{{questionValue.label}}</ion-select-option>
                    </ion-select>
                  </ng-container>
                </div>

                <div class="line-right" *ngIf="[CustomFormPropertiesEnum.SELECT, CustomFormPropertiesEnum.SELECT_MULTIPLE].includes(lineForm.get('component').value)">
                  <div class="add-button-line">
                    <div>Liste des valeurs :</div>

                    <ion-button fill="clear" class="small-button" (click)="addValue(lineForm)" [disabled]="!userHasPermissionCustomizeFormField">
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </div>

                  <div class="values-div">
                    <div *ngFor="let value of lineForm.get('listValue').value; let j = index" class="value-line">
                      <div class="value">{{value}}</div>

                      <div class="buttons">
                        <ion-button fill="clear" class="small-button" (click)="valueDown(lineForm, j)" [disabled]="j === 0 || !userHasPermissionCustomizeFormField">
                          <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
                        </ion-button>

                        <ion-button fill="clear" class="small-button" (click)="valueUp(lineForm, j)" [disabled]="j === lineForm.get('listValue').value.length - 1 || !userHasPermissionCustomizeFormField">
                          <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                        </ion-button>

                        <ion-button fill="clear" class="small-button" (click)="updateValue(lineForm, value, i)" [disabled]="!userHasPermissionCustomizeFormField">
                          <ion-icon slot="icon-only" name="pencil"></ion-icon>
                        </ion-button>

                        <ion-button fill="clear" class="small-button" (click)="deleteValue(lineForm, value, i)" [disabled]="!userHasPermissionCustomizeFormField">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="line">
        <div class="number">
          <ion-button fill="clear" class="small-button" (click)="addLine()" [disabled]="!userHasPermissionCreateNewFormField || !userHasPermissionCustomizeFormField">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </div>
      </div>

    </form>
  </div>

  <div class="report-edit-footer">
    <ion-button fill="clear" (click)="save()" [disabled]="!userHasPermissionCustomizeFormField">
      <ion-icon slot="icon-only" name="save"></ion-icon>
    </ion-button>
  </div>
</div>
