ion-input {
    height: 30px;
    margin: 15px 0;
}

.select {
    margin-bottom: 15px;
    width: 100%;
}

.wko-assets {
    ion-input {
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.wko-calendar {
    ion-input {
        margin-top: 0;
    }
}

.wko-assets, .wko-calendar {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    ion-button {
        margin: auto 0;
    }
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    ion-radio-group {
        display: flex;
        flex-direction: column;
    }
}

.error-message {
    margin-top: -15px;
    margin-bottom: 15px;

    ion-note {
        --color: var(--ion-color-danger);
    }
}

.mono-equipment {
    pointer-events: none;
}

.select-search {
    padding-bottom: 15px;
}