<app-page-header [headerLabel]="title" [loading]="isLoading" [template]="buttonsTemplate"
  [displayCloseButton]="true"></app-page-header>

<div class="wko-creation-body no-scroll-mobile">
  <ng-container *ngIf="!isLoading; else loadingBody">
    <form *ngIf="creationWkoForm" [formGroup]="creationWkoForm" id="wko_form_creation">
      <ion-list>
        <div class="select-search">
          <app-search-select [key]="'id'" [label]="'Liste des contrats *'" [elements]="contracts"
            [control]="creationWkoForm.controls['ctrId']" [elementLabelFunction]="getContractLabel">
          </app-search-select>
          <ion-note *ngIf="currentContract">Fin le {{ currentContract.ctrEndDate | date:'dd/MM/yyyy'
            }}</ion-note>
        </div>

        <app-search-select class="select-search" [key]="'id'" [label]="'Liste des communes '" [elements]="cities"
          [control]="creationWkoForm.controls['ctyId']" [elementLabelFunction]="getCityLabel">
        </app-search-select>

        <app-search-select class="select-search" [key]="'wtrId'" [label]="'Liste des actions *'" [elements]="wtrs"
          [control]="creationWkoForm.controls['wtrId']" [elementLabelFunction]="getWtrLabel">
        </app-search-select>

        <div class="wko-assets">
          <ng-container *ngIf="equipments?.length === 1">
            <ion-input class="mono-equipment" labelPlacement="floating" fill="outline" label="Equipement" type="text"
              [value]="equipmentName"></ion-input>
            <ion-input *ngIf="equipments[0].id > 0" class="mono-equipment" labelPlacement="floating" fill="outline"
              label="ID" type="text" [value]="equipments[0].id"></ion-input>
            <ion-button fill="clear" slot="end" color="primary" (click)="openEquipment(equipments[0])"
              [disabled]="equipments[0].lyrTableName.includes('_xy')">
              <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="equipments?.length > 1">
            <ion-input labelPlacement="floating" fill="outline" label="Equipements" type="text" [value]="nbEquipments"
              (click)="openEquipmentModal()" [disabled]="equipments?.[0] === null"></ion-input>
          </ng-container>
          <ion-button fill="clear" slot="end" color="primary" (click)="editEquipmentList()"
            [disabled]="equipments[0].lyrTableName.includes('_xy')">
            <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>

        <ion-input labelPlacement="floating" fill="outline" label="Libelle *" placeholder="Libelle" type="text"
          formControlName="wkoName"></ion-input>
        <ng-container
          *ngTemplateOutlet="errorTemplate; context: { control: creationWkoForm.controls['wkoName'] }"></ng-container>

        <ion-input labelPlacement="floating" fill="outline" label="Adresse *" placeholder="Adresse" type="text"
          [formControlName]="'wkoAddress'"></ion-input>
        <ng-container
          *ngTemplateOutlet="errorTemplate; context: { control: creationWkoForm.controls['wkoAddress'] }"></ng-container>

        <ion-select class="select" aria-label="agents" labelPlacement="floating" fill="outline"
          label="Nombre d'agents *" placeholder="Agents" formControlName="wkoAgentNb">
          <ion-select-option [value]="1">1</ion-select-option>
          <ion-select-option [value]="2">2</ion-select-option>
          <ion-select-option [value]="3">3</ion-select-option>
          <ion-select-option [value]="4">4</ion-select-option>
          <ion-select-option [value]="5">5</ion-select-option>
        </ion-select>

        <div class="wko-calendar">
          <ion-input type="text" aria-label="date" labelPlacement="floating" fill="outline" label="Date début *"
            placeholder="JJ/MM/AAAA" formControlName="wkoPlanningStartDate" (keydown)="onDateKeyDown($event)"
            (keyup)="onDateKeyUp($event)"></ion-input>
          <ion-input type="text" aria-label="date" labelPlacement="floating" fill="outline" label="Date fin *"
            placeholder="JJ/MM/AAAA" formControlName="wkoPlanningEndDate" (keydown)="onDateKeyDown($event)"
            (keyup)="onDateKeyUp($event)"></ion-input>
          <ion-button fill="clear" slot="end" color="primary" (click)="openCalendar()">
            <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div *ngIf="creationWkoForm.hasError('dateCompareInvalid')" class="error-message">
          <ion-note>La date de fin ne peut être inférieure à la date de début</ion-note>
        </div>

        <div class="radio-group">
          <ion-checkbox labelPlacement="start" (ionChange)="setCheckboxValue('wkoEmergency', $event)" [checked]="false"
            formControlName="wkoEmergency">Urgent</ion-checkbox>
          <ion-checkbox labelPlacement="start" (ionChange)="setCheckboxValue('wkoAppointment', $event)"
            [checked]="false" formControlName="wkoAppointment">Rendez-vous</ion-checkbox>
        </div>

        <div class="wko-calendar" *ngIf="workorder?.wkoAppointment">
          <ion-input type="time" aria-label="date" labelPlacement="floating" fill="outline" label="de *"
            placeholder="HH:MM" formControlName="wkoPlanningStartHour"
            (ionChange)="onStartHourChange('wkoPlanningStartHour',$event)"></ion-input>
          <ion-input type="time" aria-label="date" labelPlacement="floating" fill="outline" label="a *"
            placeholder="HH:MM" formControlName="wkoPlanningEndHour"></ion-input>
        </div>
        <div *ngIf="creationWkoForm.hasError('timeCompareInvalid') && workorder?.wkoAppointment" class="error-message">
          <ion-note>L'heure de fin du Rendez-vous est inférieure à l'heure de début du Rendez-vous</ion-note>
        </div>

        <ion-input aria-label="comment" labelPlacement="floating" fill="outline" label="Commentaire"
          placeholder="Commentaire" formControlName="wkoCreationComment"></ion-input>
      </ion-list>
    </form>
  </ng-container>
</div>
<div class="wko-footer">
  <ion-item [disabled]="isLoading || !creationWkoForm.valid">
    <ion-button fill="clear" (click)="onSubmit()" class="save-mode"
      [disabled]="isLoading || !creationWkoForm.valid || !userHasPermissionSendWorkorder">{{creationButonLabel}}</ion-button>

    <ion-select aria-label="Sélectionner une action" label-placement="fixed" justify="start" interface="popover"
      with="500px" (ionChange)="onCreationModeChange($event)" value="avec envoye à la planification">
      <ion-select-option value="CREEAVECENVOIE" aria-label="" fill="clear"
        label=" ">{{defaultCreationLabel}}</ion-select-option>
      <ion-select-option value="CREE" aria-label="" fill="clear" label="" with="500px">
        <span>{{createWithoutSendToPlanning}}</span></ion-select-option>
    </ion-select>


  </ion-item>
</div>

<ng-template #loadingBody>
  <app-skeleton-loading [rows]="8"></app-skeleton-loading>
</ng-template>

<ng-template #errorTemplate let-control="control">
  <ng-container *ngIf="control?.errors && (control?.dirty || control?.touched)">
    <div *ngFor="let error of getKeys(control.errors)" class="error-message">
      <ion-note>
        <ng-container [ngSwitch]="error">
          <ng-container *ngSwitchCase="'required'">
            Le champ est requis
          </ng-container>
          <ng-container *ngSwitchDefault>
            Il y a une erreur
          </ng-container>
        </ng-container>
      </ion-note>
    </div>
  </ng-container>
</ng-template>

<ion-modal #equipmentModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Liste des équipements</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="equipmentModal.dismiss()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item *ngFor="let eqDetail of equipmentsDetails" button
        (click)="openEquipmentFromDetail(eqDetail[1], eqDetail[2])">
        <ion-label position="stacked">{{ eqDetail[0] }} - {{ eqDetail[1] }}</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #buttonsTemplate>
  <ion-icon *ngIf="workorder?.wkoAttachment" name="attach-outline"></ion-icon>
</ng-template>