.synthesis-drawer {
  height: 100%;
  width: 100%;
}

ion-item.header-item {
  --min-height: 64px;

  .header-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--ion-color-neutral-variant-30);
  }

  ion-button.attach-file {
    transform: translateX(25px);
  }

  ion-icon {
    color: var(--ion-color-neutral-variant-30);
  }
}

ion-tab-bar.action-bar {
  overflow: auto;
  height: 70px;
}

.synthesis-content {
  width: 100%;
  overflow: auto;
  height: calc(100% - 192px);

  &.synthesis-content-mobile {
    height: calc(100% - 210px);
  }

  &.content-without-buttons {
    height: calc(100% - 165px);
  }

  &.content-without-buttons-mobile {
    height: calc(100% - 176px) !important;
  }

  .content-container {
    margin: 0 12px;
  }
}

.bottom-item {
  width: 100%;
  
  ion-item {
    border-top: 1px solid var(--ion-color-neutral-variant-80);
    height: 100%;
  }
}
