<ion-content>
  <app-page-header [headerLabel]="'Fiche ' + type" [template]="buttonsTemplate" [displayBackButton]="true" [displayCloseButton]="true"></app-page-header>
  <ng-container *ngIf="isMobile">
    <ion-tab-bar class="action-bar">
      <ion-tab-button [disabled]="!userHasPermissionCreateAssetWorkorder">
        <ion-icon name="add-outline"></ion-icon>
        Générer une intervention
      </ion-tab-button>
    </ion-tab-bar>
    <div class="border-bar"></div>
  </ng-container>
  <ion-item lines="none" class="summary">
    <ion-label class="labels" [class.mobile-labels]="isMobile">
      <ion-label>Etat : Mise en Service</ion-label>
      <ion-label>ID : {{ asset?.id }}</ion-label>
      <ion-label>Type : {{ type }}</ion-label>
      <ion-label *ngIf="!isMobile">Contrat : {{ asset?.contrat }}</ion-label>
    </ion-label>
  </ion-item>
  <div class="detail-form" [class.mobile-form]="isMobile">
    <app-form-editor *ngIf="form" [nomadForm]="form" [tableName]="tableName"></app-form-editor>
  </div>
</ion-content>

<ng-template #buttonsTemplate>
  <ng-container *ngIf="!isMobile">
    <ion-button fill="clear" slot="end" [disabled]="!userHasPermissionCreateAssetWorkorder" (click)="createWorkorder()">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Générer une intervention
    </ion-button>
  </ng-container>
</ng-template>
