.loading-mobile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: -40px;

    .loading-mobile-title {
        font-family: "FS Sinclair Italic";
        font-size: 70px;
        color: var(--ion-color-primary)
    }

    .loading-mobile-subtitle {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .loading-mobile-progress-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .loading-mobile-progress-text {
        margin-top: 5px;
        font-size: 10px;
        color: grey;
    }

    .loading-step {
      margin-top: 8px;
      font-size: 12px;
    }
}
