<ion-content>
  <div class="loading-mobile-content">
    <div class="loading-mobile-title">
      Nomad
    </div>
    <div class="loading-mobile-subtitle">
      Préparation de l'application en cours...
    </div>
    <div class="loading-mobile-progress-bar">
      <ion-progress-bar [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <div class="loading-step">Etape {{currentStep}}/2</div>
    </div>
    <div *ngFor="let title of loadingTitles" class="loading-mobile-progress-text">
      {{ title.value }}
    </div>
    <div *ngIf="hasError" class="loading-mobile-error-text">
      Une erreur s'est produite pendant le téléchargement des données. Assurez-vous d'être sur un réseau wifi stable avant de réessayer.
    </div>
    <ion-button *ngIf="hasError" (click)="fetchAllInitialisationData()">Réessayer</ion-button>
  </div>
</ion-content>
