<div class="settings-content-template">
  <!-- Header -->
  <div class="settings-content-header-height settings-header">
    <div class="settings-content-template-header">
      <ion-label class="label">
        <h2>{{ user ? 'Modification d\'un utilisateur' : 'Création d\'un nouvel utilisateur'}}</h2>
      </ion-label>

      <ion-button (click)="onClose()" fill="clear" aria-label="Close">
        <ion-icon name="close" slot="icon-only" aria-hidden="true" size="small"></ion-icon>
      </ion-button>
    </div>

    <div class="separation-line"></div>
  </div>

  <!-- Main content -->
  <div class="settings-main-content">
    <!-- User fields -->
    <form [formGroup]="userForm" (ngSubmit)="save()" class="settings-user-form">
      <ion-label class="label">
        <h3>Généralité</h3>
      </ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input aria-label="lastname" labelPlacement="floating" fill="outline" label="Nom *" formControlName="lastname" errorText="Le nom est obligatoire." />
          </ion-col>
          <ion-col>
            <ion-input aria-label="firstname" labelPlacement="floating" fill="outline" label="Prénom *" formControlName="firstname" errorText="Le prénom est obligatoire." />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-input aria-label="mail" labelPlacement="floating" fill="outline" label="E-Mail *" formControlName="mail" errorText="L'e-mail est obligatoire ou invalide." email />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-select aria-label="status" label="Statut *" label-placement="floating" fill="outline" [value]="'interne'" formControlName="status">
              <ion-select-option value="interne">Interne</ion-select-option>
              <ion-select-option value="externe">Externe</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-input aria-label="company" labelPlacement="floating" fill="outline" label="Société" formControlName="company" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <!-- Perimeters and Profil -->
    <app-generic-table class="user-perimeter"
      [toolbar]="toolbar"
      [columns]="columns"
      [rows]="perimetersTableRows"
      [selectedRows]="selectedPerimetersTableRows"
    ></app-generic-table>
  </div>

  <div class="settings-footer">
    <ion-button [disabled]="false"
      class="actions-layer-content-button-action actions-layer-content-button-action-active" (click)="save()">
      Enregistrer
    </ion-button>
  </div>


</div>



