<ion-toolbar color="primary" class="main-toolbar">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-img slot="start" class="main-toolbar-logo" src="assets/img/logo/logo.png"></ion-img>
  <span slot="start" class="main-toolbar-separator" ></span>
  <ion-title class="main-toolbar-title">{{title}}</ion-title>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -6px; top: -6px;">3</ion-badge>
    </ion-button>
    <ion-fab-button class="main-toolbar-avatar">
      <ion-img src="assets/img/header/pic.png"></ion-img>
    </ion-fab-button>
    <ion-button>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>