<ion-toolbar color="primary" class="main-toolbar">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-img slot="start" class="main-toolbar-logo" src="assets/img/logo/logo-desktop.png" *ngIf="!isMobile"></ion-img>
  <span slot="start" class="main-toolbar-separator" *ngIf="!isMobile"></span>
  <ion-title class="main-toolbar-title">{{title}}</ion-title>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="notifications" [color]="cacheLoaded ? 'success' : 'danger'"></ion-icon>
      <ion-badge color="danger" style="position: absolute; right: -6px; top: -6px;">3</ion-badge>
    </ion-button>
    <ion-fab-button class="main-toolbar-avatar" (click)="logout()">
      <ion-img src="assets/img/header/pic.png"></ion-img>
    </ion-fab-button>
    <ion-button id="popover-button">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="reloadStorage()">
          <ion-icon slot="start" name="reload-outline"></ion-icon>
          Recharger le cache</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>