<ion-content>
  <div class="settings-flex">
    <div class="settings-segments">
      <app-settings-segment class="settings-segment-flex"
        (settingsTypeChange)="onSettingsTypeChange($event)"></app-settings-segment>
    </div>

    <form [formGroup]="form" (ngSubmit)="save()" class="settings-template-content">

      <div class="settings-content-header-height"
        [class]="settingsType === SettingsTypeEnum.USERS_SETTINGS ? 'users-settings' : ''">
        <div class="settings-content-template-header">
          <ion-label class="label">
            <h2>Affichage des données attributaires</h2>
          </ion-label>

          <ion-button [disabled]="form.pristine"
            class="actions-layer-content-button-action actions-layer-content-button-action-active" type="submit">
            Enregistrer
          </ion-button>
        </div>

        <div class="separation-line"></div>

      <app-search-select *ngIf="settingsType === SettingsTypeEnum.USERS_SETTINGS" class="users-multi-selection"
        key="id" title="Filtre de sélection des utilisateurs" label="Utilisateurs"
        [elements]="users" [control]="form.controls['listUserId']" [elementLabelFunction]="getUserEmail" [showMultiSelectionAsNumber]="false" [isMultiSelection]="true">
      </app-search-select>
    </div>

    <div class="settings-layer-references" [class]="settingsType === SettingsTypeEnum.USERS_SETTINGS ? 'users-settings' : ''">
      <app-search-select key="lyrTableName" label="Couche à paramétrer" [elements]="layers"
        [control]="form.controls['lyrTableName']" [elementLabelFunction]="getLayerLabel">
      </app-search-select>


        <div class="separation-line"></div>

        <div class="synthetic-references-selection">
          <ion-segment value="default">
            <ion-segment-button value="default">
              <ion-label>Données attributaires à afficher en vue synthétique</ion-label>
            </ion-segment-button>
          </ion-segment>

          <div class="synthetic-references-selection-content">
            <div *ngFor="let ref of userReferences" class="synthetic-references-selection-toggle">
              <ion-toggle [disabled]="isRequiredReference(ref)" aria-label="ion-toggle"
                [checked]="ref.displayType === ReferenceDisplayType.SYNTHETIC"
                (ionChange)="onUserReferencesChecked($event, ref)"></ion-toggle>
              <ion-label>{{ ref.alias }} <span class="technical-reference">{{ isTechnicalReference(ref) ? ' (Champ technique)' : ''}}</span></ion-label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
