<app-settings-segment
        (settingsTypeChange)="onSettingsTypeChange($event)">
</app-settings-segment>

<div class="settings-content-template">
  <app-settings-header
      class="settings-content-header"
      title="Affichage des données attributaires">
  </app-settings-header>

  <form form [formGroup]="form" (ngSubmit)="save()" class="settings-content-main">
    <app-search-select key="lyrTableName" label="Couche à paramétrer" [elements]="layers"
      [control]="form.controls['lyrTableName']" [elementLabelFunction]="getLayerLabel">
    </app-search-select>

    <div class="separation-line"></div>

    <div class="synthetic-references-selection">
      <ion-segment value="default">
        <ion-segment-button value="default">
          <ion-label>Données attributaires à afficher en vue synthétique</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div class="synthetic-references-selection-content">
        <div *ngFor="let ref of userReferences" class="synthetic-references-selection-toggle">
          <ion-toggle [disabled]="isToggleDisabled(ref)" aria-label="ion-toggle"
            [checked]="ref.displayType === ReferenceDisplayType.SYNTHETIC"
            (ionChange)="onUserReferencesChecked($event, ref)"></ion-toggle>
          <ion-label>{{ ref.alias }}</ion-label>
        </div>
      </div>
    </div>
  </form>
</div>
