.settings-flex {
  display: flex;
  flex-direction: column;
  height: 100%;

  .settings-content-template {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .settings-layer-references {
      flex: 1;
      display: flex;
      gap: 20px;
      min-height: 0;

      .synthetic-references-selection {
        display: flex;
        flex-direction: column;
        height: 100%;

        .synthetic-references-selection-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          overflow: auto;
          margin-top: 10px;
        }
      }
    }
  }
}