<ion-header>
  <ion-toolbar>
    <ion-title>Problème(s) rencontré(s) sur l'intervention</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="!loading; else loadingContainer">
    <form [formGroup]="form">
      <ion-item>
        <ion-icon slot="start" name="warning-outline"></ion-icon>
        <ion-label class="ion-text-wrap">
          Impossible de déclencher une intervention multi-équipements :
        </ion-label>
      </ion-item>

      <ng-container *ngIf="isMultiGeomType">
        <ion-item lines="none">
          <ion-label>Ne conserver que le type d'équipements :</ion-label>
        </ion-item>

        <ion-select labelPlacement="floating" fill="outline" cancelText="Annuler" label="Type d'équipements à conserver"
          [interface]="isMobile ? 'action-sheet' : 'popover'" formControlName="selectedGeomType">
          <ion-select-option *ngFor="let geomType of geomTypes" [value]="geomType.type">{{ geomType.label
            }}</ion-select-option>
        </ion-select>
      </ng-container>

      <ng-container *ngIf="isMultiWater">
        <ion-item lines="none">
          <ion-label>Ne conserver que le domaine :</ion-label>
        </ion-item>

        <ion-select labelPlacement="floating" fill="outline" cancelText="Annuler" label="Domaine à conserver"
          [interface]="isMobile ? 'action-sheet' : 'popover'" formControlName="selectedDomain">
          <ion-select-option value="dw">Eau potable</ion-select-option>
          <ion-select-option value="ww">Assainissement</ion-select-option>
        </ion-select>
      </ng-container>

      <ng-container *ngIf="isMultiContract">
        <ion-item lines="none">
          <ion-label>Ne conserver que les interventions associées à ce contrat :</ion-label>
        </ion-item>

        <ion-select labelPlacement="floating" fill="outline" label="Contrat à conserver" cancelText="Annuler"
          [interface]="isMobile ? 'action-sheet' : 'popover'" formControlName="selectedContract">
          <ion-select-option *ngFor="let contract of filteredContracts" [value]="contract">
            {{ contract.ctrLlabel }} - {{ getNumberOfAssetsPerContract(contract) }} équipements
          </ion-select-option>
        </ion-select>
      </ng-container>
    </form>
  </ng-container>

  <ng-template #loadingContainer>
    <app-skeleton-loading [rows]="3"></app-skeleton-loading>
  </ng-template>
</ion-content>

<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button slot="start" (click)="editEquipmentList()">Retour à la sélection</ion-button>
    <ion-button slot="end" [disabled]="loading || !form.valid" (click)="confirmContract()">Confirmer</ion-button>
  </ion-toolbar>
</ion-footer>