<ng-template #selectionTemplate>
  <ion-select aria-label="Sources" label-placement="floating" fill="outline" placeholder="Sélectionner les sources"
    [multiple]="true" (ionChange)="handleChange($event)" [disabled]="sources.length === 0">
    <ion-select-option *ngFor="let source of sources" [value]="source.key">{{ source.label }}</ion-select-option>
  </ion-select>
  <ng-container *ngIf="filteredFeatures.length > 0 && !isLoading">
    <ng-container *ngFor="let feature of filteredFeatures; trackBy: trackByFn" id="feauture-list" >
      <ion-item-group id="feature-container-{{feature.id}}" class="equipment-item"
        [class.highlight]="featureIdSelected === feature.id || featuresHighlighted.includes(feature)" (click)="openFeature(feature)"
        (mouseenter)="highlightSelectedFeature(feature)" (mouseleave)="highlightSelectedFeature(undefined)">
        <ion-item lines="none" color="none">
          <ion-icon slot="start" name="attach-outline"></ion-icon>
          <ion-label>
            <ion-label class="ion-no-margin">
              {{ getLyrLabel(feature.lyr_table_name) }}
            </ion-label>
            <ion-note slot="helperText">
              {{ feature.id }}
            </ion-note>
          </ion-label>
          <ion-label slot="end">
            <ion-button fill="clear" (click)="bounceToFeature($event, feature)" >
              <ion-icon slot="icon-only" class="locate-icon" [class.hightlight-icon]="featuresHighlighted.includes(feature)" name="locate-outline">
              </ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="removeFeature($event, feature)">
              <ion-icon slot="icon-only" name="close-outline">
              </ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="date-item" color="none">
          <ion-label class="intervention-date ion-no-margin">
            {{ getDomLabel(feature.lyr_table_name) }}
          </ion-label>
        </ion-item>
        <ion-item lines="none" color="none">
          <ng-container *ngIf="feature.exploitant; else noExploitant">
            <ion-chip class="status" [outline]="true">
              <ion-label>{{ feature.exploitant }}</ion-label>
            </ion-chip>
          </ng-container>
          <ng-template #noExploitant><ion-note>Exploitant inconnu</ion-note></ng-template>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <ion-item-group *ngFor="let skeleton of [0, 1, 2, 3, 4, 5]">
      <ion-item lines="none" color="none">
        <ion-label>
          <ion-label class="ion-no-margin">
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </ion-label>
          <ion-note slot="helperText">
            <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
          </ion-note>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="date-item" color="none">
        <ion-label class="intervention-date ion-no-margin">
          <ion-skeleton-text [animated]="true" style="width: 20%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="none">
        <ion-thumbnail slot="start" style="width:50px;height:20px">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ng-template>

<ng-template #footerTemplate>
</ng-template>

<app-synthesis [drawerTitle]="'Selection Multiple'" [hasFile]="false" [tabButtons]="buttons" [tabDisabled]="isLoading"
  [contentTemplate]="selectionTemplate" [footerTemplate]="footerTemplate" (onTabButton)="onTabButtonClicked($event)"
  (onInitComponent)="onInitSelection($event)">
</app-synthesis>