<ng-template #buttonsTemplate>
  <div class="multiple-selection-drawer-action-button-row">
    <ion-tab-button *ngFor="let button of buttons | slice:0:numberOfButtonDisplayed" class="multiple-selection-drawer-action-button" (click)="onTabButtonClicked(button)" [disabled]="isLoading || (button.disabledFunction ? button.disabledFunction() : false)">
      <ion-icon [name]="button.icon"></ion-icon>
      <span>{{ button.label }}</span>
    </ion-tab-button>

    <ion-tab-button *ngIf="buttons.length > numberOfButtonDisplayed" (click)="openPopoverButtons($event)" [disabled]="isLoading" class="multiple-selection-drawer-action-button">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      <span>Autre</span>
    </ion-tab-button>
  </div>
</ng-template>

<!-- 
  keepContentsMounted=true because without it the popover would be outside of the screen 
  Because the width is set to "fit-content" and without the popover content not mounted, ionic does not know the width and assume its small (like 20px)
  So when it is displayed, it is 20px from the right border of the screen and everything after those 20 px is after the right side of the screen
-->
<ion-popover #popoverButtons [dismissOnSelect]="true" side="bottom" alignment="start" size="auto" class="popover-buttons" [keepContentsMounted]="true">
  <ng-template>
    <ion-content class="ion-no-padding">
      <ion-item *ngFor="let button of buttons | slice:numberOfButtonDisplayed" lines="none" button (click)="onTabButtonClicked(button)" [disabled]="isLoading || (button.disabledFunction ? button.disabledFunction() : false)">
        <ion-icon slot="start" [name]="button.icon"></ion-icon>
        <ion-label style="font-size: 14px">{{ button.label }}</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>

<ng-template #selectionTemplate>
  <ion-select aria-label="Sources" [interface]="isMobile ? 'action-sheet' : 'popover'" label-placement="floating" fill="outline" cancelText="Annuler" placeholder="Sélectionner les sources"
  [multiple]="true" (ionChange)="handleChange($event)" [(ngModel)]="selectedSource" [disabled]="sources.length === 0">
  <ion-select-option *ngFor="let source of sources" [value]="source.key">{{ source.label }}</ion-select-option>
  </ion-select>
  <ng-container *ngIf="filteredFeatures.length > 0 && !isLoading">
    <ng-container *ngFor="let feature of filteredFeatures; trackBy: trackByFn" id="feauture-list" >
      <ion-item-group id="feature-container-{{feature.id}}" class="equipment-item"
        [class.highlight]="featureIdSelected === feature.id || featuresHighlighted.includes(feature)" (click)="openFeature(feature)"
        (mouseenter)="highlightSelectedFeature(feature)" (mouseleave)="highlightSelectedFeature(undefined)">
        <ion-item lines="none" color="none">
          <ion-label>
            <ion-label class="ion-no-margin">
              {{ getLyrLabel(feature.lyrTableName) }}
            </ion-label>
            <ion-note slot="helperText">
              {{ feature.id }}
            </ion-note>
          </ion-label>
          <ion-label slot="end">
            <ion-button fill="clear" (click)="bounceToFeature($event, feature)" *ngIf="feature.isTemp !== true">
              <ion-icon slot="icon-only" class="locate-icon" [class.hightlight-icon]="featuresHighlighted.includes(feature)" name="locate-outline">
              </ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="removeFeature($event, feature)">
              <ion-icon slot="icon-only" name="close-outline">
              </ion-icon>
            </ion-button>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="date-item" color="none">
          <ion-label class="intervention-date ion-no-margin">
            {{ getDomLabel(feature.lyrTableName) }}
          </ion-label>
        </ion-item>
        <ion-item lines="none" color="none">
          <ng-container *ngIf="feature.exploitant; else noExploitant">
            <ion-chip class="status" [outline]="true">
              <ion-label>{{ feature.exploitant }}</ion-label>
            </ion-chip>
          </ng-container>
          <ng-template #noExploitant><ion-note>Exploitant inconnu</ion-note></ng-template>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <ion-item-group *ngFor="let skeleton of [0, 1, 2, 3, 4, 5]">
      <ion-item lines="none" color="none">
        <ion-label>
          <ion-label class="ion-no-margin">
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </ion-label>
          <ion-note slot="helperText">
            <ion-skeleton-text [animated]="true" style="width: 50%;"></ion-skeleton-text>
          </ion-note>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="date-item" color="none">
        <ion-label class="intervention-date ion-no-margin">
          <ion-skeleton-text [animated]="true" style="width: 20%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" color="none">
        <ion-thumbnail slot="start" style="width:50px;height:20px">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ng-template>

<ng-template #footerTemplate>
</ng-template>

<app-synthesis [drawerTitle]="'Selection Multiple'" [hasFile]="false"
  [buttonTemplate]="buttonsTemplate" [tabButtons]="buttons" [tabDisabled]="isLoading"
  [contentTemplate]="selectionTemplate" [footerTemplate]="footerTemplate" (onTabButton)="onTabButtonClicked($event)">
</app-synthesis>

<ion-popover #popover >
  <ng-template>
    <ion-content class="ion-no-padding">
      <ion-item lines="none" button (click)="setAddMode('unit')">
        <ion-icon slot="start" name="pin-outline"></ion-icon>
        <ion-label>Unitaire</ion-label>
      </ion-item>
      <ion-item lines="none" button (click)="setAddMode('rect')" *ngIf="!isMobile">
        <ion-icon slot="start" name="crop-outline" ></ion-icon>
        <ion-label>Rectangulaire</ion-label>
      </ion-item>
      <ion-item lines="none" button (click)="setAddMode('polygon')">
        <ion-icon slot="start" name="logo-web-component"></ion-icon>
        <ion-label>Polygonale</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>
