/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* font design */
@font-face {
  font-family: 'FS Sinclair Italic';
  src: url('assets/fonts/FSSinclair/FSSinclair-Italic.eot');
  src: url('assets/fonts/FSSinclair/FSSinclair-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/FSSinclair/FSSinclair-Italic.woff2') format('woff2'),
    url('assets/fonts/FSSinclair/FSSinclair-Italic.woff') format('woff'),
    url('assets/fonts/FSSinclair/FSSinclair-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TheSans';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/TheSans/thesans-ot6semibold-webfont.ttf');
}

@font-face {
  font-family: 'TheSans';
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/TheSans/TheSans-Bold.ttf');
}

@font-face {
  font-family: 'TheSans';
  font-style: italic;
  font-weight: normal;
  src: url('assets/fonts/TheSans/TheSans-Italic.ttf');
}

@font-face {
  font-family: 'TheSans';
  font-style: italic;
  font-weight: bold;
  src: url('assets/fonts/TheSans/TheSans-BoldItalic.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ion-color-neutral-variant-80);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ion-color-neutral-variant-30);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ion-color-neutral-variant-50);
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.actions-layer-content-button-action {
  text-transform: none;
  --border-radius: 25px;
  --background: var(--ion-color-surface-light-1);
  --color: var(--ion-color-primary);
}

.actions-layer-content-button-action-active {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-surface-light-1);
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

// Overlay panel styling
.overlay-panel {
  margin-right: var(--width-right-panel-interactive--);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: calc(100% - 56px);
  margin-top: 56px;
  width: var(--width-right-panel-interactive);
  right: 0;
  position: absolute !important;

  -moz-animation: slideInRightPanel 0.5s ease 0.1s forwards;
  -webkit-animation: slideInRightPanel 0.5s ease 0.1s forwards;
  -o-animation: slideInRightPanel 0.5s ease 0.1s forwards;
  -ms-animation: slideInRightPanel 0.5s ease 0.1s forwards;
  animation: slideInRightPanel 0.5s ease 0.1s forwards;
}