<div class="settings-template-content">
  <app-settings-header
      class="settings-header"
      title="Personnalisation des formulaires de comptes-rendus">
  </app-settings-header>
  <!--<ion-button mat-stroked-button (click)="generateQuestions()" fill="clear">
    Generate questions
  </ion-button>-->
  <!--<ion-button mat-stroked-button (click)="checkFormsCondition()" fill="clear">
    Check forms condition
  </ion-button>-->
  <!--<ion-button mat-stroked-button (click)="generateSqlPlusFix()" fill="clear">
    Generate SQL + Fix
  </ion-button>-->

  <form form [formGroup]="form" class="settings-main-content">
    <app-search-select class="settings-select-content"
      key="astId"
      label="Type"
      [elements]="listAssetType"
      [control]="form.controls['astId']"
      [elementLabelFunction]="getAssetTypeLabel">
    </app-search-select>

    <app-generic-table class="settings-table-content"
      [toolbar]="toolbar"
      [columns]="columns"
      [rows]="listWtrReportRows"
      [listColumnSort]="listColumnSort">
    </app-generic-table>
  </form>
</div>
