<ng-template #workOrderTemplate>
  <ng-container *ngIf="workOrder && !editMode">
    <app-wko-view [workOrder]="workOrder"></app-wko-view>
  </ng-container>
  <ng-container *ngIf="workOrder && editMode">
    <div class="edit-title">
      Les champs suivis d'un * sont obligatoires
    </div>
    <app-wko-creation *ngIf="workOrderForm" [form]="workOrderForm"></app-wko-creation>
  </ng-container>
</ng-template>

<ng-template #workOrderfooter>
  <div *ngIf="editMode" lines="none" class="footer">
    <ion-button fill="clear" (click)="onCancel()">Annuler</ion-button>
    <ion-button fill="clear" fill="clear" slot="end" (click)="onSubmit()" [disabled]="creationDisabled">Transférer à la
      planification</ion-button>
  </div>
  <ng-container *ngIf="!editMode">
    <ion-item class="item-footer" lines="none">
      <ion-button fill="clear" slot="end">Détails</ion-button>
    </ion-item>
  </ng-container>
</ng-template>

<app-synthesis [drawerTitle]="getTitle()" [hasFile]="true" [tabButtons]="buttons" [contentTemplate]="workOrderTemplate"
  [sourceLayer]="'workorder'" [footerTemplate]="workOrderfooter" (onTabButton)="onTabButtonClicked($event)">
</app-synthesis>