<ng-template #workOrderTemplate>
  <ng-container *ngIf="workOrder && !editMode">
    <app-wko-view [workOrder]="workOrder"></app-wko-view>
  </ng-container>
  <ng-container *ngIf="equipments && editMode">
    <div class="edit-title">
      Les champs suivis d'un * sont obligatoires
    </div>
    <app-wko-creation #wkoCreation [equipments]="equipments"></app-wko-creation>
  </ng-container>
  <ng-container *ngIf="!workOrder && !equipments">
    <ion-list>
      <ion-item lines="none" class="ion-no-margin" *ngFor="let number of [0,1,2,3,4,5,6,7]">
        <ion-label class="label">
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!workOrder && !equipments">
    <ion-list>
      <ion-item lines="none" class="ion-no-margin" *ngFor="let number of [0,1,2,3,4,5,6,7]">
        <ion-label class="label">
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ng-template>

<ng-template #workOrderfooter>
  <div *ngIf="editMode" lines="none" class="footer">
    <ion-button fill="clear" (click)="onCancel()">Annuler</ion-button>
    <ion-button fill="clear" fill="clear" slot="end" (click)="onSubmit()" [disabled]="creationDisabled">Transférer à la
      planification</ion-button>
  </div>
  <ng-container *ngIf="!editMode">
    <ion-item class="item-footer" lines="none">
      <ion-button fill="clear" slot="end">Détailler</ion-button>
    </ion-item>
  </ng-container>
</ng-template>

<app-synthesis [drawerTitle]="getTitle()" [hasFile]="true" [tabButtons]="buttons" [tabDisabled]="!workOrder && !this.equipments" [contentTemplate]="workOrderTemplate"
  [sourceLayer]="'workorder'" [footerTemplate]="workOrderfooter" (onTabButton)="onTabButtonClicked($event)" (onInitComponent)="onInitWorkorder($event)">
</app-synthesis>

<ng-template #workOrderTemplate>
  <ng-container *ngIf="workOrder && !editMode">
    <app-wko-view [workOrder]="workOrder"></app-wko-view>
  </ng-container>
  <ng-container *ngIf="equipments && editMode">
    <div class="edit-title">
      Les champs suivis d'un * sont obligatoires
    </div>
    <app-wko-creation #wkoCreation [equipments]="equipments"></app-wko-creation>
  </ng-container>
</ng-template>