<div class="filter-div">
  <ng-container [ngSwitch]="filterType">
    <!-- TEXT -->
    <ng-container *ngSwitchCase="FILTER_TYPE.TEXT">
      <ion-select aria-label="component-type" label="Avancé" label-placement="floating" fill="outline" 
        [(ngModel)]="selectedFilterTextCondition" interface="popover" class="filter-select">
        <ion-select-option *ngFor="let ftt of FILTER_TEXT_CONDITION" [value]="ftt.value">
          {{ftt.label}}
        </ion-select-option>
      </ion-select>

      <ion-input #filterTextValueInput *ngIf="selectedFilterTextCondition !== FILTER_CONDITION.EMPTY && selectedFilterTextCondition !== FILTER_CONDITION.NOT_EMPTY"
        aria-label="label" labelPlacement="floating" fill="outline" label="Rechercher" class="filter-input"
        [(ngModel)]="filterTextValue" (keydown.enter)="ok()" />
    </ng-container>

    <!-- SELECT -->
    <ng-container *ngSwitchCase="FILTER_TYPE.SELECT">
      <div class="select-div">
        <div class="select-actions-div">
          <ion-button fill="clear" (click)="selectNone()">Réinitialiser</ion-button>
          <ion-button fill="clear" (click)="selectAll()">Tout selectionner</ion-button>
        </div>

        <ion-input #filterSelectSearchValueInput aria-label="label" labelPlacement="floating" fill="outline" 
          label="Rechercher" class="search-input" (ionInput)="onSelectSearchInput($event)" />
        
        <ion-list class="select-list" lines="full">
          <ion-item button *ngFor="let item of listItem" (click)="addOrRemoveItem(item)" class="item">
            <ion-icon [class.selected]="isItemSelected(item)" name="checkmark"></ion-icon>
            <span [class.selected]="isItemSelected(item)">{{item.label}}</span>
          </ion-item>
        </ion-list>
      </div>
    </ng-container>

    <!-- NUMBER -->
    <ng-container *ngSwitchCase="FILTER_TYPE.NUMBER">
      <ion-select aria-label="component-type" label="Avancé" label-placement="floating" fill="outline" 
        [(ngModel)]="selectedFilterNumberCondition" interface="popover" class="filter-select">
        <ion-select-option *ngFor="let ftt of FILTER_NUMBER_CONDITION" [value]="ftt.value">
          {{ftt.label}}
        </ion-select-option>
      </ion-select>

      <ion-input #filterNumberStartValueInput type="number"
        *ngIf="selectedFilterNumberCondition === FILTER_CONDITION.BETWEEN 
            || selectedFilterNumberCondition === FILTER_CONDITION.EQUAL 
            || selectedFilterNumberCondition === FILTER_CONDITION.NOT_EQUAL 
            || selectedFilterNumberCondition === FILTER_CONDITION.GREATER 
            || selectedFilterNumberCondition === FILTER_CONDITION.GREATER_OR_EQUAL"
        aria-label="label" labelPlacement="floating" fill="outline" label="Rechercher" class="filter-input"
        [(ngModel)]="filterValueNumber.start" (keydown.enter)="ok()" />

      <span *ngIf="selectedFilterNumberCondition === FILTER_CONDITION.BETWEEN">
        &nbsp; et &nbsp;
      </span>

      <ion-input #filterNumberEndValueInput type="number"
        *ngIf="selectedFilterNumberCondition === FILTER_CONDITION.BETWEEN 
            || selectedFilterNumberCondition === FILTER_CONDITION.LOWER 
            || selectedFilterNumberCondition === FILTER_CONDITION.LOWER_OR_EQUAL"
        aria-label="label" labelPlacement="floating" fill="outline" label="Rechercher" class="filter-input"
        [(ngModel)]="filterValueNumber.end" (keydown.enter)="ok()" />
    </ng-container>
  </ng-container>
</div>

<div class="filter-actions-div">
  <ion-button fill="clear" (click)="cancel()">Annuler</ion-button>
  <ion-button fill="clear" (click)="ok()">Valider</ion-button>
</div>