.swiper-container {
    display: flex;
    flex-direction: column;

    swiper-container {
        flex: 1;
        width: 600px;
        text-align: center;
    }
}

.mobile {
    swiper-container {
        width: 100vw !important;
        margin-top: 50%;
    }
}