<div class="actions-layer-desktop-content">
  <ion-searchbar show-clear-button="always" placeholder="Recherche" class="actions-layer-desktop-content-button-search"></ion-searchbar>
  <ion-button class="actions-layer-content-button-action" (click)="onAction('patrimony')" [ngClass]="selectedAction == 'patrimony' ? 'actions-layer-content-button-action-active':''">Patrimoine</ion-button>
  <ion-button class="actions-layer-content-button-action" (click)="onAction('intervention')" [ngClass]="selectedAction == 'intervention' ? 'actions-layer-content-button-action-active':''">Intervention</ion-button>
  <ion-button class="actions-layer-content-button-action" (click)="onAction('perimeter')" [ngClass]="selectedAction == 'perimeter' ? 'actions-layer-content-button-action-active':''">Périmètre</ion-button>
</div>
