.ion-accordion-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

    .children {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 120px;
        margin: 5px;
        height: 170px;
        border-radius: 28px;
        cursor: pointer;

        img {
            margin: 0 auto;
        }

        .child-selected-arrow {
            position: absolute;
            top: 0;

            ion-icon {
                color: var(--ion-color-secondary-variant-10);
            }
        }
    }

    .children-selected {
        background-color: var(--ion-color-secondary-variant-90),
    }
}