.serverless/
/.serverless/
/.terraform/
.terraform/
*.tfstate
*.tfstate*
/.serverless/
/__pycache__/
/.idea/
build/*
/build/*
/node_modules/
/layers/
/target/
/bin/
/.settings/
*.log
*.zip
package-lock.json
