.checkbox-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  ion-checkbox {
    margin-bottom: 5px;
  }

  .label {
    display: flex;
    flex-direction: column;

    .description {
      font-size: 10px;
      color: var(--ion-color-neutral-variant-50);
    }
  }
}
